---
---
$pattern: "{{ site.baseurl }}/images/bg/pattern.png";
$casual: "{{ site.baseurl }}/images/bg/bg-casual.jpg";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$brand-color: #FFA715;
$brand-color-shadow: #B97608;
$html-background-color: #222;
$hover-brand-color: #fff515;
$alt-hover-active: #fff515;
$middle-gradient-color: mix($brand-color, $hover-brand-color, 95%);

$main-font: 'DINPro Light', sans-serif;
$header-font: 'DINPro Medium', sans-serif;
$latin-font: 'Intro Cond light', sans-serif;
$strong-font: 'Intro Cond black', sans-serif;

$padding: 10px;
$margin: 10px;


// Breakpoints
$tablet: "(min-width: 768px)";
$mid-point: "(min-width: 970px)"; 
$desktop: "(min-width: 1170px)";

@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "tabs";
@import "fast-call-action";
@import "responsive";
