title: МАИР – Профессиональная сборка мебели
url: "http://mair.moscow"
site_phone_code: "495"
site_phone_code2: "977"
site_phone: 142 2329
site_phone2: 854 5242
google_maps_javascript_api_key: AIzaSyDA3Fwc32iuKNnSInbH_eKnJmvITbc9Nkg
disqus_shortname:

# Default description in social shares for the jekyll-seo-tag gem
description: Профессиональная сборка мебели, квартирный переезд, помощь с упаковкой вещей и вызов мастера для решения домашних проблем - услуги специалистов МАИР

# Author details for the jekyll-seo-tag gem
author:
  name:
  email:
  twitter: # twitter username without the @ symbol

# Social details for the jekyll-seo-tag gem
social:
  name: «МАИР» Профессиональная сборка мебели
  links:
    - http://klimovproject.ru/

collections:
  staff_members:
    output: false
  clients:
    output: true

paginate: 10
paginate_path: "/blog/:num/"
permalink: pretty

jekyll-archives:
  enabled:
    - "categories"

gems:
  - "jekyll-feed"
  - "jekyll-seo-tag"
  - "jekyll-paginate"
  - "jekyll-archives"

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      _options:
        content:
          width: 960
          height: 2000
  - scope:
      path: ""
      type: "clients"
    values:
      layout: "client"
      _options:
        image_path:
          width: 2000
          height: 2000
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  - scope:
      path: "index.html"
      type: "pages"
    values:
      layout: "default"

# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - RSS
