---
title: О нас
heading: Cборка, транспортные услуги, грузчики, упаковочный материал
subtitle: Наша компания готова предоставить весь спектр услуг, а наши мастера обладают не только необходимыми навыками и опытом для сборки мебели, но еще и нужным набором современных инструментов.
---

<section class=" patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
