---
title: Главная
layout: main-page
hero_img: /images/hero-img/main_head.jpg
---

<section class="what-we-do">
	<div class="container">
		<h2 class="editable centered row" id="services">Мы умеем</h2>
		
		<div>
			<p class="editable">Мы предлагаем целый комплекс услуг и работ, <br />
				начиная от грамотного консультирования специалистов <br />
				и заканчивая услугами строительства и ремонта дома. </p>
		</div>
		<ul>
			{% for column in site.data.icons %}
				{% if column.title == 'services' %}
					{% for svgs in column.svgs %}
					<li class="col-lg-3 col-md-4 col-sm-12 wwd_block">
					{% if svgs.svg == 'consult' or svgs.svg == 'evaluation' %}
						<a href="#mainform-popup" class="open-popup-link">
					{% else if svgs.svg == 'construction' %}
						<a id="btn-tooltip" href="{{ svgs.link }}" title="Консультация по телефон +7 495 231 0460  ">
					{% else %}
						<a href="{{ svgs.link }}">
					{% endif %}
							<div class="wwd_icon_block">
								{% include icon-services.html icon=svgs.svg %}
							</div>
							<div class="wwd_text_block">
							{{ svgs.name }}
							</div>
							{% if svgs.svg == 'consult' or svgs.svg == 'evaluation' %}
								<div class="add-info" data-title="Бесплатно!"></div>
							{% endif %}
						</a>
					</li>
							
						<!-- {% if svgs.svg == 'disassembly' %} -->
							<!-- <div class="clearfix visible-lg visible-md"></div> -->
						<!-- {% endif %}
						{% if svgs.svg == 'disassembly' %} -->
							<!-- <div class="clearfix visible-sm"></div> -->
						<!-- {% endif %}
						{% if svgs.svg == 'assembly' %} -->
							<!-- <div class="clearfix visible-sm"></div> -->
						<!-- {% endif %} -->

					{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<!--  КАЛЬКУЛЯТОР
	<section class="promo-action">
	<div class="container">
		<div class="left-part col-lg-8 col-md-6 col-sm-12">
			<h2 class="editable">Хотите рассчитать стоимость заранее?</h2>
			<p class="subtext editable">Можете воспользоваться нашим калькулятором <br />
			или проконсультируйтесь по телефону: <br />
			</p>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<a href="/contact/" class="button btn cta calc-btn col-sm-12">Калькуляция сметы</a>
			<a href="tel:+74993907668" class="tel col-sm-12">
					<i class="fas fa-phone"></i>
					<span>+7 499 390 7668</span>
			</a>
		</div>
	</div>
</section> -->
	
<section class="patterned">
	<div class="container halves">
		<h2 class="editable centered">Выполненные работы</h2>	
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 2 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<p class="editable">Мы осуществляем сборку любой сложности. <br />
				Для выполнения работ допускаются только опытные и квалифицированные мастера. Они имеют опыт сборки мебели разных производителей, поэтому в короткий срок разберутся со схемами и соберут требуемую конструкцию.<br /></p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">&larr; Ещё примеры работ</a></p>
		</div>
	</div>
</section>
<section class="comments">
	<div class="container">
		<h2 class="editable centered">Отзывы о нас</h2>
		<div class="tabs">
			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1" title="Вкладка 1">Клиенты</label>
			
			<input id="tab2" type="radio" name="tabs">
			<label for="tab2" title="Вкладка 2">Партнёры</label>
				
			<div id="content-tab1">
				<ul class="owl-carousel owl-theme">					
					<li class="item">
						<div class="comment_block">
						“Мы недавно приобрели новую кухню и искали надежную компанию по сборке мебели. Знакомые посоветовали именно эту. Ребята молодцы, оперативно среагировали и быстро установили кухню, как положено. Все сделали максимально аккуратно, ничего не повредили и лишних деталей не осталось. Сразу видно профессионалы своего дела. Услуги их, кстати, обошлись совсем не дорого. Спасибо большое, очень признательны.”
							<div class="sign">
								<img id="sign-avatar" src="/images/clients/img-01.jpg">
								Афонасьева Ольга <br> 
								Менеджер
							</div> 
						</div> 
					</li>	
					<li class="item">
						<div class="comment_block">
						“Ребята молодцы, быстро работают: во второй половине дня позвонил им и без проблем заказал уже на следующее утро сборку двух шкафов-купе. Мастера сами были одеты аккуратно, и техника у них была профессиональная, малошумная. И того за два двухдверных шкафа заплатил всего 3600, так что ещё и недорого берут, спасибо! Буду рекомендовать соседям, они как раз затеяли ремонт.”
							<div class="sign">
								<img id="sign-avatar" src="/images/clients/img-04.jpg">
								Леонид Никоноров<br>
								Промоутер
							</div>
						</div> 
					</li>
					<li class="item">
						<div class="comment_block">
						“Обратился в МАИР по рекомендации знакомых. Компания не подвела, работы выполнены квалифицированно, точно в срок. Собрали шкаф-купе и мебель в прихожую. Спасибо.”
							<div class="sign">
								<img id="sign-avatar" src="/images/clients/img-02.jpg">
								Петров Андрей<br>
								Водитель
							</div> 
						</div> 
					</li>					
					<li class="item">
						<div class="comment_block">
						“Выражаю огромную благодарность мастерам данной фирмы за быструю и качественную работу по сборке мебели, я обратилась в данную фирму и была приятно удивлена качеством и оперативностью проделанной работы,отличная работа по реальной цене, что не маловажно в наше время, обязательно воспользуюсь ещё не раз услугами фирмы, а также порекомендую коллегам по работе и знакомым! Желаю вам ребята процветания, много много клиентов!!!”
							<div class="sign">
								<img id="sign-avatar" src="/images/clients/img-03.jpg">
								Полина Никонорова<br> 
								Домохозяйка
							</div>
						</div> 
					</li>	
					<li class="item">
						<div class="comment_block">
						“Отлично спланировали, отлично выполнили. Все быстро, аккуратно. Я была готова к хорошему уровню мувинговых услуг, но в реальности было еще лучше. Спасибо бригаде Василия.”
							<div class="sign">
								<img id="sign-avatar" src="/images/clients/img-05.jpg">
								Ксения Макарова<br>
								Администратор ресторана
							</div>
						</div> 
					</li>
				</ul>
			</div>  
			<div id="content-tab2">
				<div class="owl-carousel owl-theme">
					{% for image in site.data.partners %}			
						<div class="item">
							<img class="no-border" src="/images/partners/{{ image.name }}.jpg">
						</div>
					{% endfor %}
					</div> 
				</div>
			</div>   
		</div>
	</div>
</section>

{% include promo-action.html 
	caption="Нужна оперативная мужская помощь?"
	subtext="Выезд мастера в течении часа!" 
	call_action_text="Срочный вызов по телефону:" 
	button_text="Вызвать мастера" 
%}

<section class="social casual">
	<div class="container">
		<h2 class="editable centered">Мы в социальных сетях</h2>	
		<ul class="social_links">
			{% for column in site.data.footer-soc %}
				{% for link in column.links %}
					<li>
						<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
							{% if link.social_icon %}
								{% include icon-social.html icon=link.social_icon %}
							{% endif %}
							<br>
							{{ link.name }}
						</a>
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
</section>


<section class="end-form">
	<div class="container">
	
		<form class="q-form col-lg-6 col-md-6" method="POST" action="https://formspree.io/info@mair.moscow" >
			<h2 class="editable">Остались вопросы?  </h2>

			<input type="hidden" name="_language" value="ru" />
			<input type="hidden" name="_format" value="plain" />
			<input type="hidden" name="_next" value="/success">
			<input type="hidden" name="_subject" value="Вопрос с главной страницы сайта mair.moscow">
			
			<input class="input-form" type="phone" name="phone" placeholder="Ваш телефон">
			<textarea class="form__textarea" name="message" placeholder="Ваш вопрос"></textarea>
			<input type="submit" value="Задать">
		</form>

	</div>
</section> 
