---
title: Сборка мебели
heading: Сборка мебели 
subtitle: Посмотрите результаты наших работ.
hero_img: /images/hero-img/sborka-yashika.jpeg
permalink: /kak-sobrat-mebel/
---

<section class="patterned">
	<div class="container">
		<ul class="image-grid">
			{% for client in site.clients %}
				<li>
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>


<section>
	<div class="container">
		<div class="left-part">
			<form id="form" name="form" action="#" method="post">
				<div class="m-inputs">
					<div class="input-item">
						<input type="text" placeholder="Ваше имя" onfocus="" required="" name="name" id="name" class="" autocomplete="off">
					</div>
					<div class="input-item">
						<input type="text" placeholder="Ваш телефон" onfocus="" onblur="" required="" name="email" id="email" class="" autocomplete="off">
					</div>
					<div class="input-item">
						<textarea  placeholder="Ваше сообщение" name="user_message" cols="40" rows="3" class="" aria-invalid="false"></textarea>
					</div>
					<div class="button btn calc-btn">
						<a href="/contact/">Отправить</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
