---
title: Квартирный переезд
layout: page
heading: Квартирный переезд
subtitle: Доверьте переезд нам! 
hero_img: /images/hero-img/moovingovie-uslugi.jpg
permalink: /kvartirnyiy-pereezd/
---


<section class="casual">
	<div class="container">
        <h2> Накопили имущество. Лифт. Вещей куча. Итак, начинаем наш переезд!</h2>
            <p>Самое разумное, поступательно сделать следующие действия:</p>
        <ul>
            <li>найти мувинговую компанию, грузовое такси,</li>
            <li>определить дату переезда,</li>
            <li>согласовать погрузочно - разгрузочные и транспортные работы,</li>
            <li>самостоятельно упаковать личные вещи.</li>
        </ul>
	</div>
</section>

<section class="promo-action">
    <div class="container">
        <div class="left-part col-lg-8 col-md-6 col-sm-12 col-xs-12">
            <h2 class="editable">Предоставьте остальное нам!</h2>
            <p class="subtext editable">Оставьте свой телефон или позвоните по номеру:
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="button btn calc-btn col-sm-12 col-xs-12">
                <a href="#test-popup" class="open-popup-link">Заказать переезд</a>
            </div>
            <a href="tel:+74993907668" class="tel col-sm-12 col-xs-12">
                    <i class="fas fa-phone"></i>
                    <span>+7 499 390 7668</span>
            </a>
        </div>
    </div>
</section>

<section class="casual">
        <div class="container">
        <h3>Перевозка габаритного имущества</h2>
            <p>Компания подберет вид грузового транспорта. Сборка и разборка мебели требует навыков. Перемещение мебели вверх-вниз лестницы выполняется с такелажными ремнями. Грузчики фирмы разберут, вынесут мебель, поднимут, сделают сборку. Учтено стоимостью услуг. Упаковка мебели нужна, исключает сколы, царапины. Упаковывание делает организация. Упаковка бытовой техники, мебели производится оборачиванием пленочно-пузырчатой пленкой. Скотчем скрепляются открывающиеся створки.</p>
        <h2> Упаковка вещей</h2>
        <p>Необходимо выполнить:</p>
        <ul>
            <li>Приобрести картонные ящики размерами 40 х 60. Запастись скотчем, п/э пакетами, рулонной упаковочной пленкой, маркером, газетами, нарвать листы журналов.</li>
            <li>Сортировка вещей разного назначения - разные коробки. Воспользоваться предварительно полиэтиленовыми пакетами. Отдать устаревшие вещи.</li>
            <li>Укладку производить плотно. Заполнять пустоты мелкими вещами. Коробки нельзя распирать. Соблюдать предельный килограммовый вес (30).</li>
            <li>Посуду, хрупкие вещи обернуть полотенцами, бумагой, тканью. Особенно хрупкие - расположить вблизи центральной части ящика. Тарелки переслоить бумагой.</li>
            <li>Флаконы загерметизировать (обернуть стрейч-пленкой, заклеить скотчем), поставить вертикально, сделать снаружи тары метки «верх», «низ».</li>
            <li>Укладка книг - использовать малогабаритные картонные ящики. Книги пересмотреть, оставить нужные, лишние раздать.</li>
            <li>Цветы – применить плотные коробки, поставить, отметить снаружи «верх».</li>
            <li>Первостепенные предметы обихода сложить вместе.</li>
            <li>Коробки проклеить скотчем, дно уплотнить, сделать ручку.</li>
            <li>Прикрепить цветные маркеры (указание комнаты размещения).</li>
            <li>Мелкие предметы - задействовать мебельные выдвижные ящики. Использовать материалы для упаковки: стрейч-пленку, газеты, мелкие вещички.</li>
            <li>Маркировка коробок (номер, назначение имущества) – обязательный этап.</li>
            <li>Подробное перечисление содержимого - использовать тетрадь (быстрее отыщутся нужные вещи).</li>
            <li>Коробки расположить компактно (нужно подготовить комнату).</li>
            <li>Драгоценности, документы - перевезти ручной кладью.</li>
            <li>Сделать опись имущества. Инвентаризация предметов – важный этап прибывшего груза.</li>
        </ul>
        <p>Грамотное выполнение услуг профессионалами, правильные подготовительные работы сделают квартирный переезд спокойным, радостным.</p>
        <p>Если не хотите заниматься этим самостоятельно, закажите квартирный переезд у нас в МАИР!</p>

    </div>
</section>

<section class="order-stages infographic">
	<div class="container">
		<div class="st_bl_wrap">
			<div class="st_bl_in">
				<h3 class="editable centered">Как сделать заказ?</h3>				
				<ul class="st_bl_items">
					{% for column in site.data.icons %}
						{% if column.title == 'howto-delivery' %}
							{% for svgs in column.svgs %}
							<li class="st_bl_item col-lg-3 col-md-6 col-sm-12 col-xs-12">
								<div class="st_bl_pic">
									{% include icon-howto.html icon=svgs.svg %}
									<br />
									{{ svgs.name }}
								</div>
								{% unless svgs.svg == '4step' %}
									<img class="arrow hidden-sm hidden-xs" src="/images/arrow-r.png">
								{% endunless %}
							</li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="casual" id="prices">
    <div class="container">

        <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
                <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                    <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="#tabs-1" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">По России </a></li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tabs-2" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">По Москве и МО</a></li>
                </ul>
                <div id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="false">     
                    <div class="table-wrapper">                               
                        {% include price-moscow.html %}
                    </div>
                </div>
                <div id="tabs-2" aria-labelledby="ui-id-2" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;"> 
                    <div class="table-wrapper">
                        {% include price-MO.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="end-form service-order">
    <div class="container">
        <form class="q-form col-lg-6 col-md-6" method="POST" action="https://formspree.io/info@mair.moscow" >
            <h2 class="editable">Заказать переезд</h2>

            <input type="hidden" name="_next" value="/success">
            <input type="hidden" name="_language" value="ru" />
            <input type="hidden" name="_format" value="plain" />
            <input type="hidden" name="_subject" value="Вопрос со страницы КВАРТИРНЫЙ ПЕРЕЕЗД">
            
            <input class="input-form" type="name" name="name" placeholder="Ваше имя" required>
			<input class="input-form" type="phone" name="phone" placeholder="Ваш телефон" required>
            <textarea class="form__textarea" name="message" placeholder="Ваше сообщение" required></textarea>
            <input type="submit" value="Отправить">
        </form>
    </div>
</section>