---
title: Квартирный переезд
layout: page
heading: Квартирный переезд
subtitle: Накопили имущество. Лифт. Вещей куча. Доверьте переезд нам! 
hero_img: /images/hero-img/moovingovie-uslugi.jpg
permalink: /kvartirnyiy-pereezd/
---


<section class="casual">
	<div class="container">
        <h2> Итак, начинаем наш переезд!</h2>
            <p>Самое разумное, поступательно сделать следующие действия:</p>
        <ul>
            <li>найти мувинговую компанию, грузовое такси,</li>
            <li>определить дату переезда,</li>
            <li>согласовать погрузочно - разгрузочные и транспортные работы,</li>
            <li>самостоятельно упаковать личные вещи.</li>
        </ul>

        <h3>Перевозка габаритного имущества</h2>
            <p>Компания подберет вид грузового транспорта. Сборка и разборка мебели требует навыков. Перемещение мебели вверх-вниз лестницы выполняется с такелажными ремнями. Грузчики фирмы разберут, вынесут мебель, поднимут, сделают сборку. Учтено стоимостью услуг. Упаковка мебели нужна, исключает сколы, царапины. Упаковывание делает организация. Упаковка бытовой техники, мебели производится оборачиванием пленочно-пузырчатой пленкой. Скотчем скрепляются открывающиеся створки.</p>
        <h2> Упаковка вещей</h2>
        <p>Необходимо выполнить:</p>
        <ul>
            <li>Приобрести картонные ящики размерами 40 х 60. Запастись скотчем, п/э пакетами, рулонной упаковочной пленкой, маркером, газетами, нарвать листы журналов.</li>
            <li>Сортировка вещей разного назначения - разные коробки. Воспользоваться предварительно полиэтиленовыми пакетами. Отдать устаревшие вещи.</li>
            <li>Укладку производить плотно. Заполнять пустоты мелкими вещами. Коробки нельзя распирать. Соблюдать предельный килограммовый вес (30).</li>
            <li>Посуду, хрупкие вещи обернуть полотенцами, бумагой, тканью. Особенно хрупкие - расположить вблизи центральной части ящика. Тарелки переслоить бумагой.</li>
            <li>Флаконы загерметизировать (обернуть стрейч-пленкой, заклеить скотчем), поставить вертикально, сделать снаружи тары метки «верх», «низ».</li>
            <li>Укладка книг - использовать малогабаритные картонные ящики. Книги пересмотреть, оставить нужные, лишние раздать.</li>
            <li>Цветы – применить плотные коробки, поставить, отметить снаружи «верх».</li>
            <li>Первостепенные предметы обихода сложить вместе.</li>
            <li>Коробки проклеить скотчем, дно уплотнить, сделать ручку.</li>
            <li>Прикрепить цветные маркеры (указание комнаты размещения).</li>
            <li>Мелкие предметы - задействовать мебельные выдвижные ящики. Использовать материалы для упаковки: стрейч-пленку, газеты, мелкие вещички.</li>
            <li>Маркировка коробок (номер, назначение имущества) – обязательный этап.</li>
            <li>Подробное перечисление содержимого - использовать тетрадь (быстрее отыщутся нужные вещи).</li>
            <li>Коробки расположить компактно (нужно подготовить комнату).</li>
            <li>Драгоценности, документы - перевезти ручной кладью.</li>
            <li>Сделать опись имущества. Инвентаризация предметов – важный этап прибывшего груза.</li>
        </ul>
        <p>Грамотное выполнение услуг профессионалами, правильные подготовительные работы сделают квартирный переезд спокойным, радостным.</p>
        <p>Если не хотите заниматься этим самостоятельно, закажите квартирный переезд у нас в МАИР!</p>

    </div>
</section>

<section class="order-stages casual">
	<div class="container">
		<div class="st_bl_wrap">
			<div class="st_bl_in">
				<h3 class="editable centered">Как сделать заказ?</h3>				
				<ul class="st_bl_items">
					{% for column in site.data.icons %}
						{% if column.title == 'howto-delivery' %}
							{% for svgs in column.svgs %}
							<li class="st_bl_item col-lg-3 col-md-6 col-sm-12 col-xs-12">
								<div class="st_bl_pic">
									{% include icon-howto.html icon=svgs.svg %}
									<br />
									{{ svgs.name }}
								</div>
								{% unless svgs.svg == '4step' %}
									<img class="arrow hidden-sm hidden-xs" src="/images/arrow-r.png">
								{% endunless %}
							</li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="service-order">
    <div class="container">
        <h3 class="editable centered row" id="services">Заявка на переезд</h3>
        <div class="left-part">
            <form id="form" class="q-form" name="form" action="#" method="post">
                <div class="m-inputs">
                    <div class="input-item">
                        <input type="text" placeholder="Ваше имя" onfocus="" required="" name="name" id="name" class="" autocomplete="off">
                    </div>
                    <div class="input-item">
                        <input type="text" placeholder="Ваш телефон" onfocus="" onblur="" required="" name="email" id="email" class="" autocomplete="off">
                    </div>
                    <div class="input-item">
                        <textarea  placeholder="Ваше сообщение" name="user_message" cols="40" rows="3" class="" aria-invalid="false"></textarea>
                    </div>
                    <div class="button btn calc-btn">
                        <a href="/contact/">Отправить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>