---
title: Наши работы
layout: alt-page
hero_img: /images/hero-img/our_work.jpg
---

<section class="patterned">
	<div class="container">
		<h3 class="editable centered">Наши работы</h3>			
		<div>
			<p class="editable">Некоторые конкуренты говорят что они "лучшие", <br>
				 а мы просто хорошо делаем свою работу.</p>
		</div>
		<ul class="image-grid">
			{% for client in site.clients %}
				<li>
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
