---
title: Цены
heading: Цены на сборку мебели
subtitle:     
layout: alt-page
hero_img: /images/hero-img/main_head.jpg
permalink: /price/
---


<section class="patterned price-s">
	<div class="container">
		
		<h3 class="editable centered">Стоимость сборки мебели</h3>	

		<div>
			<table border="3" cellpadding="0" cellspacing="0" class="price-table" style="width: 100%; background:  transparent;border-color: transparent;">
				<tbody>
					<tr>
						<td>
						<p>Тип мебели</p>
						</td>
						<td>
						<p>Цена сборки, % </br><i>(от стоимости мебели)</i></p>
						</td>
					</tr>
					<tr>
						<td>
						<p><i class="fa fa-check list-icon"></i>	Корпусная </p>
						</td>
						<td>
						<p>  <strong>5-7%</strong></p>
						</td>
					</tr>
					<tr>
						<td>
						<p><i class="fa fa-check list-icon"></i>	Кухни </p>
						</td>
						<td>
						<p><strong>10-15%  </strong></p>
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<p class="subtext editable">На сопутствующие работы расценки можно узнать  
								в прайсе доп-услуг:
							</p>
						<p>			
							<a href="https://docviewer.yandex.ru/view/247652000/?*=%2FM%2BHLsqOSRTqoKf9Kjz0glDTE0V7InVybCI6InlhLWRpc2stcHVibGljOi8vU0lYeCtKWXVWTCttRmtyRFNvRURnT2JLSVRaQlRNMjdtd1dCM1UxVVV0Zz0iLCJ0aXRsZSI6ItCm0LXQvdGLINC90LAg0LTQvtC%2F0L7Qu9C90LjRgtC10LvRjNC90YvQtSDRg9GB0LvRg9Cz0Lgg0YHQsdC%2B0YDQutC4IDIwMTgueGxzeCIsInVpZCI6IjI0NzY1MjAwMCIsInl1IjoiMjIyNzA5Mzc4MTQzODY3Njk5NCIsIm5vaWZyYW1lIjpmYWxzZSwidHMiOjE1MTk4MTM0ODkxNzd9" target="_blank">
								<div class="mini-element price-btn"><span>Доп-услуги</span> <i class="fa fa-file-excel-o"></i>
								</div>
							</a>
						</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</section>
	
<section class="patterned price-s">
		<div class="container">
		<h3 class="editable centered">Стоимость услуги "Муж на час"</h3>	
		<div>
			<table border="3" cellpadding="0" cellspacing="0" class="price-table" style="width: 100%; background:  transparent;border-color: transparent;">
				<tbody>
					<tr>
						<td><i class="fa fa-check list-icon"></i>	Перенос мебели в квартире/офисе
						</td>
						<td><span><strong>450</strong> р/час</span>
						</td>
					</tr>
					<tr>
						<td><i class="fa fa-check list-icon"></i>	Минимальный заказ 
						</td>
						<td><span><strong>4</strong> часа</span>
						</td>
					</tr>
					<tr>
						<td><i class="fa fa-check list-icon"></i>	Постоянным клиентам скидка 
						</td>
						<td><span><strong>10%</strong>!</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</section>

<section class="patterned price-s">
	<div class="container">
		<h3 class="editable centered">Стоимость квартирного переезда</h3>	
		<table border="3" cellpadding="0" cellspacing="0" class="price-table" style="width: 100%; background:  transparent;border-color: transparent;">
			<tbody>
				<tr>
					<td><i class="fa fa-check list-icon"></i>	Переезд однокомнатной квартиры 
					</td>
					<td><span> от <strong>4 500</strong> руб</span>
					</td>
				</tr>
				<tr>
					<td><i class="fa fa-check list-icon"></i>	Переезд двухкомнатной квартиры 
					</td>
					<td><span> от <strong>10 000</strong> руб</span>
					</td>
				</tr>
				<tr>
					<td><i class="fa fa-check list-icon"></i>	Переезд трёкомнатной квартиры 
					</td>
					<td><span> от <strong>15 500</strong> руб</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

<section class="patterned price-s">
	<div class="container">
	</div>
</section>


<section class="casual" id="transportation"> 
		<div class="container">
				<h3 class="editable centered">Прайс на грузоперевозки</h3>		
			<div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
					<ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
						
						<li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="#tabs-1" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">Грузоперевозки по Москве и МО</a></li>
	
						<li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tabs-2" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">Грузоперевозки по России</a></li>
	
					</ul>
					<div id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="false">     
						<div class="table-wrapper">  
							{% include price-MO.html %}        
						</div>
					</div>
					<div id="tabs-2" aria-labelledby="ui-id-2" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;"> 
						<div class="table-wrapper">                     
							{% include price-moscow.html %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>