{% if include.element == 'price-add' %}

	<a href="https://docviewer.yandex.ru/view/247652000/?*=%2FM%2BHLsqOSRTqoKf9Kjz0glDTE0V7InVybCI6InlhLWRpc2stcHVibGljOi8vU0lYeCtKWXVWTCttRmtyRFNvRURnT2JLSVRaQlRNMjdtd1dCM1UxVVV0Zz0iLCJ0aXRsZSI6ItCm0LXQvdGLINC90LAg0LTQvtC%2F0L7Qu9C90LjRgtC10LvRjNC90YvQtSDRg9GB0LvRg9Cz0Lgg0YHQsdC%2B0YDQutC4IDIwMTgueGxzeCIsInVpZCI6IjI0NzY1MjAwMCIsInl1IjoiMjIyNzA5Mzc4MTQzODY3Njk5NCIsIm5vaWZyYW1lIjpmYWxzZSwidHMiOjE1MTk4MTM0ODkxNzd9" target="_blank">
		<div class="mini-element price-btn">Доп-услуги <i class="fa fa-file-excel-o"></i>
		</div>
	</a>

{% endif %}
