{% case page.title %}
	{% when 'Сборка мебели' %}

	<div class="form-text">
		<ul>
			<li><span>	<strong>Корпусная</strong> 	 	— <b>5-7%</b> от стоимости</span></li>
			<li><span> 	<strong>Кухни</strong>		— <b>10-15%</b> от стоимости</span>  </li>
			<div class="mini-element price-btn">
				<a href="https://docviewer.yandex.ru/view/1130000026831383/?*=pvs%2BqvqSv2cvaReYd%2B13YQMzU3F7InVybCI6InlhLWRpc2stcHVibGljOi8vU0lYeCtKWXVWTCttRmtyRFNvRURnT2JLSVRaQlRNMjdtd1dCM1UxVVV0Zz0iLCJ0aXRsZSI6Ik1BSVItYWRkLXNlcnZpY2VzLTIwMTgueGxzeCIsInVpZCI6IjExMzAwMDAwMjY4MzEzODMiLCJ5dSI6IjIyMjcwOTM3ODE0Mzg2NzY5OTQiLCJub2lmcmFtZSI6ZmFsc2UsInRzIjoxNTE5NDIxOTkyMDU4fQ%3D%3D" target="_blank" rel="noopener"><span>Прайс-лист</span> на доп-услуги <i class="fa fa-file-excel-o"></i>
				</a>
			</div>
		</ul>	
	</div>

	{% when 'Квартирный переезд' %}

	<div class="form-text">
		<ul>
			<li></li>
			<li><span><strong>По России</strong> </span>  </li>
			<li><span><strong>По Москве и МО</strong></li>			
			<li>	
				<div class="mini-element price-btn">
					<i class="fa fa-file"></i>
					<a class="pdf" href="#tabs-2" rel="noopener">Смотреть таблицу цен</a>
				</div>
			</li>
		</ul>	
	</div>

	{% when 'Муж на час' %}

	<div>
		<ul>
			<li class="mini-element price-btn"><span>Почасовая оплата — <b> 450 руб/ч</b>*</span></li>
			<li></li>
			<li class="mini-element price-btn"><span>*Минимальный заказ - <b>4 часа</b></span></li>
		</ul>	
	</div>

{% endcase %}
