<div class="container">
	<a class="company-name hidden-xs col-sm-4           col-md-2                   col-lg-2" href="{{ site.baseurl }}/">
		<img src="{{ site.baseurl }}/images/logo.svg" alt="{{ site.description }}">
	</a> 
	

	<div class="col-xs-9 col-sm-4 col-md-3 col-md-push-7">
		<div class="tel_icon_block">
			<i class="fa fa-phone"></i>
		</div>	
					
		<div class="tel">
			<a href="tel:+74993907668">
				<span>+7 499 390 7668</span>
			</a>
			<div id="clear"></div>
			<a href="tel:+74998348588">
				<span>+7 925 834 8588</span>
			</a>
		</div>
	</div>	


	<span class="nav-toggle col-xs-3 col-sm-offset-2 col-sm-2 hidden-md hidden-lg" id="open-nav">&#9776;</span>
	<div class="clearfix visible-xs visible-sm"></div>
	<nav class="top col-xs-12 col-sm-4 col-md-7 col-md-pull-3">
		<ul class="menu">
			
			{% for link in site.data.navigation.links %}
				{% assign class = "" %}
				{% if link.highlight %}
					{% assign class = class | append: " highlight" %}
				{% endif %}
	
				{% if link.url == page.url %}
					{% assign class = class | append: " active" %}
				{% endif %}

				{% if link.url == null %}
					<li class="menu__list"><a class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.text }}
							<span class="caret">
					</a>
						<ul class="menu__drop">
							{% for sublink in link.submenu %}
								<li><a href="{{ site.baseurl }}{{ sublink.url }}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ sublink.text }}
								</a></li>
							{% endfor %}
						</ul>
					</li>
				{% else %}
					<li><a href="{{ site.baseurl }}{{ link.url }}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.text }}
					</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
	

</div>


