<table align="center" id="moscow" border="3" cellpadding="0" cellspacing="0" class="striped rounded" style="width: 50%;">
	<tbody>
		<tr style="background-color: white;">
		<td width="128">
		<p align="center"><strong>Город</strong></p>
		</td>
		<td width="89">
		<p align="center"><strong>Транспорт от 1 до 1,5 тонн </strong></p>
		</td>
		<td width="88">
		<p align="center"><strong>Транспорт от 3&nbsp; до 3,5 тонн</strong></p>
		</td>
		<td width="91">
		<p align="center"><strong>Транспорт&nbsp;&nbsp; 5 тонн</strong></p>
		</td>
		<td width="95">
		<p align="center"><strong>Транспорт 10 тонн</strong></p>
		</td>
		<td width="89">
		<p align="center"><strong>Фура 20 тонн</strong></p>
		</td>
		<td width="81">
		<p align="center"><strong>Расстояние, км</strong></p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Абакан</p>
		</td>
		<td width="89">
		<p align="center">99400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">114500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">131000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">165000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">209000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">4200</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Архангельск</p>
		</td>
		<td width="89">
		<p align="center">29400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">34400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">46500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">54000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">6700&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1260</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Астрахань</p>
		</td>
		<td width="89">
		<p align="center">33400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">40000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">54200&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">63000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">78000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Барнаул</p>
		</td>
		<td width="89">
		<p align="center">81100&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">91400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">130500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">151000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">189000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">3530</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Белгород</p>
		</td>
		<td width="89">
		<p align="center">16000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">19500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">25500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">28000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">36000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">670</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Брянск</p>
		</td>
		<td width="89">
		<p align="center">13500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">15500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">16500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">17500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">22500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Великий Новгород</p>
		</td>
		<td width="89">
		<p align="center">14000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">16000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">20500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">22300&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">26000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">540</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Владимир</p>
		</td>
		<td width="89">
		<p align="center">9000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">11500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">12500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">15000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">19000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">185</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Волгоград</p>
		</td>
		<td width="89">
		<p align="center">23450&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">27500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">35600&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">42000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">50000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1000</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Вологда</p>
		</td>
		<td width="89">
		<p align="center">14150&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">15000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">18400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">21500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">25500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">465</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Воронеж</p>
		</td>
		<td width="89">
		<p align="center">15000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">17000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">19400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">22600&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">26700&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">540</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Екатеринбург</p>
		</td>
		<td width="89">
		<p align="center">45000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">53500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">69400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">76100&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">89200&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1840</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Иваново</p>
		</td>
		<td width="89">
		<p align="center">13000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">14500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">16500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">19000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">23000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">310</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Ижевск</p>
		</td>
		<td width="89">
		<p align="center">28000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">35100&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">45500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">53300&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">66300&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1200</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Иркутск</p>
		</td>
		<td width="89">
		<p align="center">126900&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">149500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">189500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">225900&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">261000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">5400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Йошкар-Ола</p>
		</td>
		<td width="89">
		<p align="center">20500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">26000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">29000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">33900&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">42000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">760</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Казань</p>
		</td>
		<td width="89">
		<p align="center">19500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">23000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">29400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">34200&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">46500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">825</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Калининград</p>
		</td>
		<td width="89">
		<p align="center">59500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">65500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">70400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">85500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">95500 руб.&nbsp;</p>
		</td>
		<td width="81">
		<p align="center">1300</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Калуга</p>
		</td>
		<td width="89">
		<p align="center">9400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">12600&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">15000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">17000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">19400&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">190</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Кемерово</p>
		</td>
		<td width="89">
		<p align="center">84000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">94000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">136000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">155000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">194500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">3700</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Киров</p>
		</td>
		<td width="89">
		<p align="center">26500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">28500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">36500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">43000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">53000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">950</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Кострома</p>
		</td>
		<td width="89">
		<p align="center">14000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">16400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">17000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">20000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">25000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">330</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Краснодар</p>
		</td>
		<td width="89">
		<p align="center">33400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">39400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">49400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">55300&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">60500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1420</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Красноярск</p>
		</td>
		<td width="89">
		<p align="center">101400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">119500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">155500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">177000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">190000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">4200</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Курган</p>
		</td>
		<td width="89">
		<p align="center">47450&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">53500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">77500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">88500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">115500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">2100</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Курск</p>
		</td>
		<td width="89">
		<p align="center">13000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">14500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">19500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">23000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">27800&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">540</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Липецк</p>
		</td>
		<td width="89">
		<p align="center">14500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">16400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">18500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">20300&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">24600&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">430</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Майкоп</p>
		</td>
		<td width="89">
		<p align="center">33100&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">37600&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">49000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">54500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">69900&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1550</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Мурманск</p>
		</td>
		<td width="89">
		<p align="center">46400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">54500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">69500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">73800&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">90200&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1940</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Муром</p>
		</td>
		<td width="89">
		<p align="center">14500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">17450&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">18500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">21700&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">25800&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">320</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Наб. Челны</p>
		</td>
		<td width="89">
		<p align="center">30950&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">35000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">39500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">44100&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">57000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1050</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Нижнекамск</p>
		</td>
		<td width="89">
		<p align="center">29500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">34600&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">38500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">43800&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">55900&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1000</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Нижний Новгород</p>
		</td>
		<td width="89">
		<p align="center">13400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">14500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">16000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">22750&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">25950&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">430</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Новокузнецк</p>
		</td>
		<td width="89">
		<p align="center">76450&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">87400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">108500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">124600&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">161900&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">3800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Новороссийск</p>
		</td>
		<td width="89">
		<p align="center">32400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">37400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">43500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">51700&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">59700&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1600</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Новосибирск</p>
		</td>
		<td width="89">
		<p align="center">81400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">95400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">124400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">141000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">175900&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">3400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Омск</p>
		</td>
		<td width="89">
		<p align="center">64400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">77500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">99000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">114900&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">130100&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">2800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Орел</p>
		</td>
		<td width="89">
		<p align="center">10000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">12000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">15100&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">18500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">19500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">370</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Оренбург</p>
		</td>
		<td width="89">
		<p align="center">35000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">39500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">51500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">60000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">72100&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1500</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Орск</p>
		</td>
		<td width="89">
		<p align="center">39500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">43500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">48400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">59300&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">76800&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1700</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Пенза</p>
		</td>
		<td width="89">
		<p align="center">15500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">17400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">24000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">28100&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">34100&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">650</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Пермь</p>
		</td>
		<td width="89">
		<p align="center">34900&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">40500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">52500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">61300&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">77500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1500</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Петрозаводск</p>
		</td>
		<td width="89">
		<p align="center">23900&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">26400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">32500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">40100&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">48000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1000</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Псков</p>
		</td>
		<td width="89">
		<p align="center">17600&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">19500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">23400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">25800&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">30000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">720</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Пятигорск</p>
		</td>
		<td width="89">
		<p align="center">39600&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">44400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">59450&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">64900&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">69900&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1650</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Ростов-на-Дону</p>
		</td>
		<td width="89">
		<p align="center">27500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">31500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">40450&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">47600&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">53500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1050</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Рязань</p>
		</td>
		<td width="89">
		<p align="center">9450&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">10500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">12900&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">15500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">19500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">190</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Самара</p>
		</td>
		<td width="89">
		<p align="center">25500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">29450&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">39500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">46000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">52000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1100</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Санкт-Петербург</p>
		</td>
		<td width="89">
		<p align="center">14400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">17000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">19400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">27800&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">30500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">740</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Саранск</p>
		</td>
		<td width="89">
		<p align="center">21400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">23500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">25500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">33800&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">37900&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">640</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Саратов</p>
		</td>
		<td width="89">
		<p align="center">20100&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">22400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">26450&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">40900&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">49000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">850</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Смоленск</p>
		</td>
		<td width="89">
		<p align="center">11000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">13000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">15300&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">18500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">20000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">390</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Сочи</p>
		</td>
		<td width="89">
		<p align="center">39500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">46400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">59700&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">71000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">91000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1720</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Ставрополь</p>
		</td>
		<td width="89">
		<p align="center">35400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">40500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">52500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">59700&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">68300&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1500</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Симферополь</p>
		</td>
		<td width="89">
		<p align="center">51200 руб.</p>
		</td>
		<td width="88">
		<p align="center">60600 руб.</p>
		</td>
		<td width="91">
		<p align="center">79300 руб.</p>
		</td>
		<td width="95">
		<p align="center">91900 руб.</p>
		</td>
		<td width="89">
		<p align="center">127000 руб.</p>
		</td>
		<td width="81">
		<p align="center">1800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Севастополь</p>
		</td>
		<td width="89">
		<p align="center">53100 руб.</p>
		</td>
		<td width="88">
		<p align="center">63400 руб.</p>
		</td>
		<td width="91">
		<p align="center">81500 руб.</p>
		</td>
		<td width="95">
		<p align="center">93000 руб.</p>
		</td>
		<td width="89">
		<p align="center">128000 руб.</p>
		</td>
		<td width="81">
		<p align="center">1900</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Сыктывкар</p>
		</td>
		<td width="89">
		<p align="center">37500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">41500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">48450&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">56000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">67800&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1300</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Тамбов</p>
		</td>
		<td width="89">
		<p align="center">14500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">16500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">18100&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">20600&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">25700&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">470</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Тверь</p>
		</td>
		<td width="89">
		<p align="center">7000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">9500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">12450&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">15000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">18800&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">170</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Тольятти</p>
		</td>
		<td width="89">
		<p align="center">23400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">27500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">35500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">43800&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">49900&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1100</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Томск</p>
		</td>
		<td width="89">
		<p align="center">74500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">82500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">91500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">121100&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">155000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">3700</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Тула</p>
		</td>
		<td width="89">
		<p align="center">9700&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">12000&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">14000&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">16700&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">18750&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">190</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Тюмень</p>
		</td>
		<td width="89">
		<p align="center">45400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">52500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">59400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">78500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">108250&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">2200</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Ульяновск</p>
		</td>
		<td width="89">
		<p align="center">18400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">20400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">25500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">40000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">50000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">850</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Уфа</p>
		</td>
		<td width="89">
		<p align="center">32500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">38500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">49500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">56300&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">72000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1350</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Ханты-Мансийск</p>
		</td>
		<td width="89">
		<p align="center">62400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">70500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">79400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">101000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">136000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">2800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Чебоксары</p>
		</td>
		<td width="89">
		<p align="center">16600&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">18400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">24400&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">28700&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">35500&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">680</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Челябинск</p>
		</td>
		<td width="89">
		<p align="center">42600&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">49500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">64450&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">75800&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">89800&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">1800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Череповец</p>
		</td>
		<td width="89">
		<p align="center">15500&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">16400&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">18550&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">22750&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">28650&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">500</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Энгельс</p>
		</td>
		<td width="89">
		<p align="center">19400&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">22500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">29700&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">40400&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">49800&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">900</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Якутск</p>
		</td>
		<td width="89">
		<p align="center">209600&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">249500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">324600&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">391000&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">480000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">8400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Ялта</p>
		</td>
		<td width="89">
		<p align="center">52500 руб.</p>
		</td>
		<td width="88">
		<p align="center">62000 руб.</p>
		</td>
		<td width="91">
		<p align="center">80300 руб.</p>
		</td>
		<td width="95">
		<p align="center">92000 руб.</p>
		</td>
		<td width="89">
		<p align="center">128000 руб.</p>
		</td>
		<td width="81">
		<p align="center">1850</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" width="128">
		<p>Ярославль</p>
		</td>
		<td width="89">
		<p align="center">12000&nbsp;руб.</p>
		</td>
		<td width="88">
		<p align="center">13500&nbsp;руб.</p>
		</td>
		<td width="91">
		<p align="center">16500&nbsp;руб.</p>
		</td>
		<td width="95">
		<p align="center">18500&nbsp;руб.</p>
		</td>
		<td width="89">
		<p align="center">21000&nbsp;руб.</p>
		</td>
		<td width="81">
		<p align="center">270</p>
		</td>
		</tr>
	</tbody>
</table>