<table  align="center" id="moscow" border="3" cellpadding="0" cellspacing="0" class="striped rounded" style="width: 50%;">
	<tbody>
		<tr style="background-color: white;">
		<td >
		<p><strong>Город</strong></p>
		</td>
		<td >
		<p><strong>Транспорт от 1 до 1,5 тонн </strong></p>
		</td>
		<td >
		<p><strong>Транспорт от 3&nbsp; до 3,5 тонн</strong></p>
		</td>
		<td >
		<p><strong>Транспорт&nbsp;&nbsp; 5 тонн</strong></p>
		</td>
		<td >
		<p><strong>Транспорт 10 тонн</strong></p>
		</td>
		<td >
		<p><strong>Фура 20 тонн</strong></p>
		</td>
		<td>
		<p><strong>Расстояние, км</strong></p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Абакан</p>
		</td>
		<td >
		<p>99400&nbsp;руб.</p>
		</td>
		<td >
		<p>114500&nbsp;руб.</p>
		</td>
		<td >
		<p>131000&nbsp;руб.</p>
		</td>
		<td >
		<p>165000&nbsp;руб.</p>
		</td>
		<td >
		<p>209000&nbsp;руб.</p>
		</td>
		<td>
		<p>4200</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Архангельск</p>
		</td>
		<td >
		<p>29400&nbsp;руб.</p>
		</td>
		<td >
		<p>34400&nbsp;руб.</p>
		</td>
		<td >
		<p>46500&nbsp;руб.</p>
		</td>
		<td >
		<p>54000&nbsp;руб.</p>
		</td>
		<td >
		<p>6700&nbsp;руб.</p>
		</td>
		<td>
		<p>1260</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Астрахань</p>
		</td>
		<td >
		<p>33400&nbsp;руб.</p>
		</td>
		<td >
		<p>40000&nbsp;руб.</p>
		</td>
		<td >
		<p>54200&nbsp;руб.</p>
		</td>
		<td >
		<p>63000&nbsp;руб.</p>
		</td>
		<td >
		<p>78000&nbsp;руб.</p>
		</td>
		<td>
		<p>1400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Барнаул</p>
		</td>
		<td >
		<p>81100&nbsp;руб.</p>
		</td>
		<td >
		<p>91400&nbsp;руб.</p>
		</td>
		<td >
		<p>130500&nbsp;руб.</p>
		</td>
		<td >
		<p>151000&nbsp;руб.</p>
		</td>
		<td >
		<p>189000&nbsp;руб.</p>
		</td>
		<td>
		<p>3530</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Белгород</p>
		</td>
		<td >
		<p>16000&nbsp;руб.</p>
		</td>
		<td >
		<p>19500&nbsp;руб.</p>
		</td>
		<td >
		<p>25500&nbsp;руб.</p>
		</td>
		<td >
		<p>28000&nbsp;руб.</p>
		</td>
		<td >
		<p>36000&nbsp;руб.</p>
		</td>
		<td>
		<p>670</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Брянск</p>
		</td>
		<td >
		<p>13500&nbsp;руб.</p>
		</td>
		<td >
		<p>15500&nbsp;руб.</p>
		</td>
		<td >
		<p>16500&nbsp;руб.</p>
		</td>
		<td >
		<p>17500&nbsp;руб.</p>
		</td>
		<td >
		<p>22500&nbsp;руб.</p>
		</td>
		<td>
		<p>400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Великий Новгород</p>
		</td>
		<td >
		<p>14000&nbsp;руб.</p>
		</td>
		<td >
		<p>16000&nbsp;руб.</p>
		</td>
		<td >
		<p>20500&nbsp;руб.</p>
		</td>
		<td >
		<p>22300&nbsp;руб.</p>
		</td>
		<td >
		<p>26000&nbsp;руб.</p>
		</td>
		<td>
		<p>540</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Владимир</p>
		</td>
		<td >
		<p>9000&nbsp;руб.</p>
		</td>
		<td >
		<p>11500&nbsp;руб.</p>
		</td>
		<td >
		<p>12500&nbsp;руб.</p>
		</td>
		<td >
		<p>15000&nbsp;руб.</p>
		</td>
		<td >
		<p>19000&nbsp;руб.</p>
		</td>
		<td>
		<p>185</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Волгоград</p>
		</td>
		<td >
		<p>23450&nbsp;руб.</p>
		</td>
		<td >
		<p>27500&nbsp;руб.</p>
		</td>
		<td >
		<p>35600&nbsp;руб.</p>
		</td>
		<td >
		<p>42000&nbsp;руб.</p>
		</td>
		<td >
		<p>50000&nbsp;руб.</p>
		</td>
		<td>
		<p>1000</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Вологда</p>
		</td>
		<td >
		<p>14150&nbsp;руб.</p>
		</td>
		<td >
		<p>15000&nbsp;руб.</p>
		</td>
		<td >
		<p>18400&nbsp;руб.</p>
		</td>
		<td >
		<p>21500&nbsp;руб.</p>
		</td>
		<td >
		<p>25500&nbsp;руб.</p>
		</td>
		<td>
		<p>465</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Воронеж</p>
		</td>
		<td >
		<p>15000&nbsp;руб.</p>
		</td>
		<td >
		<p>17000&nbsp;руб.</p>
		</td>
		<td >
		<p>19400&nbsp;руб.</p>
		</td>
		<td >
		<p>22600&nbsp;руб.</p>
		</td>
		<td >
		<p>26700&nbsp;руб.</p>
		</td>
		<td>
		<p>540</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Екатеринбург</p>
		</td>
		<td >
		<p>45000&nbsp;руб.</p>
		</td>
		<td >
		<p>53500&nbsp;руб.</p>
		</td>
		<td >
		<p>69400&nbsp;руб.</p>
		</td>
		<td >
		<p>76100&nbsp;руб.</p>
		</td>
		<td >
		<p>89200&nbsp;руб.</p>
		</td>
		<td>
		<p>1840</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Иваново</p>
		</td>
		<td >
		<p>13000&nbsp;руб.</p>
		</td>
		<td >
		<p>14500&nbsp;руб.</p>
		</td>
		<td >
		<p>16500&nbsp;руб.</p>
		</td>
		<td >
		<p>19000&nbsp;руб.</p>
		</td>
		<td >
		<p>23000&nbsp;руб.</p>
		</td>
		<td>
		<p>310</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Ижевск</p>
		</td>
		<td >
		<p>28000&nbsp;руб.</p>
		</td>
		<td >
		<p>35100&nbsp;руб.</p>
		</td>
		<td >
		<p>45500&nbsp;руб.</p>
		</td>
		<td >
		<p>53300&nbsp;руб.</p>
		</td>
		<td >
		<p>66300&nbsp;руб.</p>
		</td>
		<td>
		<p>1200</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Иркутск</p>
		</td>
		<td >
		<p>126900&nbsp;руб.</p>
		</td>
		<td >
		<p>149500&nbsp;руб.</p>
		</td>
		<td >
		<p>189500&nbsp;руб.</p>
		</td>
		<td >
		<p>225900&nbsp;руб.</p>
		</td>
		<td >
		<p>261000&nbsp;руб.</p>
		</td>
		<td>
		<p>5400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Йошкар-Ола</p>
		</td>
		<td >
		<p>20500&nbsp;руб.</p>
		</td>
		<td >
		<p>26000&nbsp;руб.</p>
		</td>
		<td >
		<p>29000&nbsp;руб.</p>
		</td>
		<td >
		<p>33900&nbsp;руб.</p>
		</td>
		<td >
		<p>42000&nbsp;руб.</p>
		</td>
		<td>
		<p>760</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Казань</p>
		</td>
		<td >
		<p>19500&nbsp;руб.</p>
		</td>
		<td >
		<p>23000&nbsp;руб.</p>
		</td>
		<td >
		<p>29400&nbsp;руб.</p>
		</td>
		<td >
		<p>34200&nbsp;руб.</p>
		</td>
		<td >
		<p>46500&nbsp;руб.</p>
		</td>
		<td>
		<p>825</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Калининград</p>
		</td>
		<td >
		<p>59500&nbsp;руб.</p>
		</td>
		<td >
		<p>65500&nbsp;руб.</p>
		</td>
		<td >
		<p>70400&nbsp;руб.</p>
		</td>
		<td >
		<p>85500&nbsp;руб.</p>
		</td>
		<td >
		<p>95500 руб.&nbsp;</p>
		</td>
		<td>
		<p>1300</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Калуга</p>
		</td>
		<td >
		<p>9400&nbsp;руб.</p>
		</td>
		<td >
		<p>12600&nbsp;руб.</p>
		</td>
		<td >
		<p>15000&nbsp;руб.</p>
		</td>
		<td >
		<p>17000&nbsp;руб.</p>
		</td>
		<td >
		<p>19400&nbsp;руб.</p>
		</td>
		<td>
		<p>190</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Кемерово</p>
		</td>
		<td >
		<p>84000&nbsp;руб.</p>
		</td>
		<td >
		<p>94000&nbsp;руб.</p>
		</td>
		<td >
		<p>136000&nbsp;руб.</p>
		</td>
		<td >
		<p>155000&nbsp;руб.</p>
		</td>
		<td >
		<p>194500&nbsp;руб.</p>
		</td>
		<td>
		<p>3700</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Киров</p>
		</td>
		<td >
		<p>26500&nbsp;руб.</p>
		</td>
		<td >
		<p>28500&nbsp;руб.</p>
		</td>
		<td >
		<p>36500&nbsp;руб.</p>
		</td>
		<td >
		<p>43000&nbsp;руб.</p>
		</td>
		<td >
		<p>53000&nbsp;руб.</p>
		</td>
		<td>
		<p>950</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Кострома</p>
		</td>
		<td >
		<p>14000&nbsp;руб.</p>
		</td>
		<td >
		<p>16400&nbsp;руб.</p>
		</td>
		<td >
		<p>17000&nbsp;руб.</p>
		</td>
		<td >
		<p>20000&nbsp;руб.</p>
		</td>
		<td >
		<p>25000&nbsp;руб.</p>
		</td>
		<td>
		<p>330</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Краснодар</p>
		</td>
		<td >
		<p>33400&nbsp;руб.</p>
		</td>
		<td >
		<p>39400&nbsp;руб.</p>
		</td>
		<td >
		<p>49400&nbsp;руб.</p>
		</td>
		<td >
		<p>55300&nbsp;руб.</p>
		</td>
		<td >
		<p>60500&nbsp;руб.</p>
		</td>
		<td>
		<p>1420</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Красноярск</p>
		</td>
		<td >
		<p>101400&nbsp;руб.</p>
		</td>
		<td >
		<p>119500&nbsp;руб.</p>
		</td>
		<td >
		<p>155500&nbsp;руб.</p>
		</td>
		<td >
		<p>177000&nbsp;руб.</p>
		</td>
		<td >
		<p>190000&nbsp;руб.</p>
		</td>
		<td>
		<p>4200</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Курган</p>
		</td>
		<td >
		<p>47450&nbsp;руб.</p>
		</td>
		<td >
		<p>53500&nbsp;руб.</p>
		</td>
		<td >
		<p>77500&nbsp;руб.</p>
		</td>
		<td >
		<p>88500&nbsp;руб.</p>
		</td>
		<td >
		<p>115500&nbsp;руб.</p>
		</td>
		<td>
		<p>2100</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Курск</p>
		</td>
		<td >
		<p>13000&nbsp;руб.</p>
		</td>
		<td >
		<p>14500&nbsp;руб.</p>
		</td>
		<td >
		<p>19500&nbsp;руб.</p>
		</td>
		<td >
		<p>23000&nbsp;руб.</p>
		</td>
		<td >
		<p>27800&nbsp;руб.</p>
		</td>
		<td>
		<p>540</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Липецк</p>
		</td>
		<td >
		<p>14500&nbsp;руб.</p>
		</td>
		<td >
		<p>16400&nbsp;руб.</p>
		</td>
		<td >
		<p>18500&nbsp;руб.</p>
		</td>
		<td >
		<p>20300&nbsp;руб.</p>
		</td>
		<td >
		<p>24600&nbsp;руб.</p>
		</td>
		<td>
		<p>430</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Майкоп</p>
		</td>
		<td >
		<p>33100&nbsp;руб.</p>
		</td>
		<td >
		<p>37600&nbsp;руб.</p>
		</td>
		<td >
		<p>49000&nbsp;руб.</p>
		</td>
		<td >
		<p>54500&nbsp;руб.</p>
		</td>
		<td >
		<p>69900&nbsp;руб.</p>
		</td>
		<td>
		<p>1550</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Мурманск</p>
		</td>
		<td >
		<p>46400&nbsp;руб.</p>
		</td>
		<td >
		<p>54500&nbsp;руб.</p>
		</td>
		<td >
		<p>69500&nbsp;руб.</p>
		</td>
		<td >
		<p>73800&nbsp;руб.</p>
		</td>
		<td >
		<p>90200&nbsp;руб.</p>
		</td>
		<td>
		<p>1940</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Муром</p>
		</td>
		<td >
		<p>14500&nbsp;руб.</p>
		</td>
		<td >
		<p>17450&nbsp;руб.</p>
		</td>
		<td >
		<p>18500&nbsp;руб.</p>
		</td>
		<td >
		<p>21700&nbsp;руб.</p>
		</td>
		<td >
		<p>25800&nbsp;руб.</p>
		</td>
		<td>
		<p>320</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Наб. Челны</p>
		</td>
		<td >
		<p>30950&nbsp;руб.</p>
		</td>
		<td >
		<p>35000&nbsp;руб.</p>
		</td>
		<td >
		<p>39500&nbsp;руб.</p>
		</td>
		<td >
		<p>44100&nbsp;руб.</p>
		</td>
		<td >
		<p>57000&nbsp;руб.</p>
		</td>
		<td>
		<p>1050</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Нижнекамск</p>
		</td>
		<td >
		<p>29500&nbsp;руб.</p>
		</td>
		<td >
		<p>34600&nbsp;руб.</p>
		</td>
		<td >
		<p>38500&nbsp;руб.</p>
		</td>
		<td >
		<p>43800&nbsp;руб.</p>
		</td>
		<td >
		<p>55900&nbsp;руб.</p>
		</td>
		<td>
		<p>1000</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Нижний Новгород</p>
		</td>
		<td >
		<p>13400&nbsp;руб.</p>
		</td>
		<td >
		<p>14500&nbsp;руб.</p>
		</td>
		<td >
		<p>16000&nbsp;руб.</p>
		</td>
		<td >
		<p>22750&nbsp;руб.</p>
		</td>
		<td >
		<p>25950&nbsp;руб.</p>
		</td>
		<td>
		<p>430</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Новокузнецк</p>
		</td>
		<td >
		<p>76450&nbsp;руб.</p>
		</td>
		<td >
		<p>87400&nbsp;руб.</p>
		</td>
		<td >
		<p>108500&nbsp;руб.</p>
		</td>
		<td >
		<p>124600&nbsp;руб.</p>
		</td>
		<td >
		<p>161900&nbsp;руб.</p>
		</td>
		<td>
		<p>3800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Новороссийск</p>
		</td>
		<td >
		<p>32400&nbsp;руб.</p>
		</td>
		<td >
		<p>37400&nbsp;руб.</p>
		</td>
		<td >
		<p>43500&nbsp;руб.</p>
		</td>
		<td >
		<p>51700&nbsp;руб.</p>
		</td>
		<td >
		<p>59700&nbsp;руб.</p>
		</td>
		<td>
		<p>1600</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Новосибирск</p>
		</td>
		<td >
		<p>81400&nbsp;руб.</p>
		</td>
		<td >
		<p>95400&nbsp;руб.</p>
		</td>
		<td >
		<p>124400&nbsp;руб.</p>
		</td>
		<td >
		<p>141000&nbsp;руб.</p>
		</td>
		<td >
		<p>175900&nbsp;руб.</p>
		</td>
		<td>
		<p>3400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Омск</p>
		</td>
		<td >
		<p>64400&nbsp;руб.</p>
		</td>
		<td >
		<p>77500&nbsp;руб.</p>
		</td>
		<td >
		<p>99000&nbsp;руб.</p>
		</td>
		<td >
		<p>114900&nbsp;руб.</p>
		</td>
		<td >
		<p>130100&nbsp;руб.</p>
		</td>
		<td>
		<p>2800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Орел</p>
		</td>
		<td >
		<p>10000&nbsp;руб.</p>
		</td>
		<td >
		<p>12000&nbsp;руб.</p>
		</td>
		<td >
		<p>15100&nbsp;руб.</p>
		</td>
		<td >
		<p>18500&nbsp;руб.</p>
		</td>
		<td >
		<p>19500&nbsp;руб.</p>
		</td>
		<td>
		<p>370</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Оренбург</p>
		</td>
		<td >
		<p>35000&nbsp;руб.</p>
		</td>
		<td >
		<p>39500&nbsp;руб.</p>
		</td>
		<td >
		<p>51500&nbsp;руб.</p>
		</td>
		<td >
		<p>60000&nbsp;руб.</p>
		</td>
		<td >
		<p>72100&nbsp;руб.</p>
		</td>
		<td>
		<p>1500</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Орск</p>
		</td>
		<td >
		<p>39500&nbsp;руб.</p>
		</td>
		<td >
		<p>43500&nbsp;руб.</p>
		</td>
		<td >
		<p>48400&nbsp;руб.</p>
		</td>
		<td >
		<p>59300&nbsp;руб.</p>
		</td>
		<td >
		<p>76800&nbsp;руб.</p>
		</td>
		<td>
		<p>1700</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Пенза</p>
		</td>
		<td >
		<p>15500&nbsp;руб.</p>
		</td>
		<td >
		<p>17400&nbsp;руб.</p>
		</td>
		<td >
		<p>24000&nbsp;руб.</p>
		</td>
		<td >
		<p>28100&nbsp;руб.</p>
		</td>
		<td >
		<p>34100&nbsp;руб.</p>
		</td>
		<td>
		<p>650</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Пермь</p>
		</td>
		<td >
		<p>34900&nbsp;руб.</p>
		</td>
		<td >
		<p>40500&nbsp;руб.</p>
		</td>
		<td >
		<p>52500&nbsp;руб.</p>
		</td>
		<td >
		<p>61300&nbsp;руб.</p>
		</td>
		<td >
		<p>77500&nbsp;руб.</p>
		</td>
		<td>
		<p>1500</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Петрозаводск</p>
		</td>
		<td >
		<p>23900&nbsp;руб.</p>
		</td>
		<td >
		<p>26400&nbsp;руб.</p>
		</td>
		<td >
		<p>32500&nbsp;руб.</p>
		</td>
		<td >
		<p>40100&nbsp;руб.</p>
		</td>
		<td >
		<p>48000&nbsp;руб.</p>
		</td>
		<td>
		<p>1000</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Псков</p>
		</td>
		<td >
		<p>17600&nbsp;руб.</p>
		</td>
		<td >
		<p>19500&nbsp;руб.</p>
		</td>
		<td >
		<p>23400&nbsp;руб.</p>
		</td>
		<td >
		<p>25800&nbsp;руб.</p>
		</td>
		<td >
		<p>30000&nbsp;руб.</p>
		</td>
		<td>
		<p>720</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Пятигорск</p>
		</td>
		<td >
		<p>39600&nbsp;руб.</p>
		</td>
		<td >
		<p>44400&nbsp;руб.</p>
		</td>
		<td >
		<p>59450&nbsp;руб.</p>
		</td>
		<td >
		<p>64900&nbsp;руб.</p>
		</td>
		<td >
		<p>69900&nbsp;руб.</p>
		</td>
		<td>
		<p>1650</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Ростов-на-Дону</p>
		</td>
		<td >
		<p>27500&nbsp;руб.</p>
		</td>
		<td >
		<p>31500&nbsp;руб.</p>
		</td>
		<td >
		<p>40450&nbsp;руб.</p>
		</td>
		<td >
		<p>47600&nbsp;руб.</p>
		</td>
		<td >
		<p>53500&nbsp;руб.</p>
		</td>
		<td>
		<p>1050</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Рязань</p>
		</td>
		<td >
		<p>9450&nbsp;руб.</p>
		</td>
		<td >
		<p>10500&nbsp;руб.</p>
		</td>
		<td >
		<p>12900&nbsp;руб.</p>
		</td>
		<td >
		<p>15500&nbsp;руб.</p>
		</td>
		<td >
		<p>19500&nbsp;руб.</p>
		</td>
		<td>
		<p>190</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Самара</p>
		</td>
		<td >
		<p>25500&nbsp;руб.</p>
		</td>
		<td >
		<p>29450&nbsp;руб.</p>
		</td>
		<td >
		<p>39500&nbsp;руб.</p>
		</td>
		<td >
		<p>46000&nbsp;руб.</p>
		</td>
		<td >
		<p>52000&nbsp;руб.</p>
		</td>
		<td>
		<p>1100</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Санкт-Петербург</p>
		</td>
		<td >
		<p>14400&nbsp;руб.</p>
		</td>
		<td >
		<p>17000&nbsp;руб.</p>
		</td>
		<td >
		<p>19400&nbsp;руб.</p>
		</td>
		<td >
		<p>27800&nbsp;руб.</p>
		</td>
		<td >
		<p>30500&nbsp;руб.</p>
		</td>
		<td>
		<p>740</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Саранск</p>
		</td>
		<td >
		<p>21400&nbsp;руб.</p>
		</td>
		<td >
		<p>23500&nbsp;руб.</p>
		</td>
		<td >
		<p>25500&nbsp;руб.</p>
		</td>
		<td >
		<p>33800&nbsp;руб.</p>
		</td>
		<td >
		<p>37900&nbsp;руб.</p>
		</td>
		<td>
		<p>640</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Саратов</p>
		</td>
		<td >
		<p>20100&nbsp;руб.</p>
		</td>
		<td >
		<p>22400&nbsp;руб.</p>
		</td>
		<td >
		<p>26450&nbsp;руб.</p>
		</td>
		<td >
		<p>40900&nbsp;руб.</p>
		</td>
		<td >
		<p>49000&nbsp;руб.</p>
		</td>
		<td>
		<p>850</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Смоленск</p>
		</td>
		<td >
		<p>11000&nbsp;руб.</p>
		</td>
		<td >
		<p>13000&nbsp;руб.</p>
		</td>
		<td >
		<p>15300&nbsp;руб.</p>
		</td>
		<td >
		<p>18500&nbsp;руб.</p>
		</td>
		<td >
		<p>20000&nbsp;руб.</p>
		</td>
		<td>
		<p>390</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Сочи</p>
		</td>
		<td >
		<p>39500&nbsp;руб.</p>
		</td>
		<td >
		<p>46400&nbsp;руб.</p>
		</td>
		<td >
		<p>59700&nbsp;руб.</p>
		</td>
		<td >
		<p>71000&nbsp;руб.</p>
		</td>
		<td >
		<p>91000&nbsp;руб.</p>
		</td>
		<td>
		<p>1720</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Ставрополь</p>
		</td>
		<td >
		<p>35400&nbsp;руб.</p>
		</td>
		<td >
		<p>40500&nbsp;руб.</p>
		</td>
		<td >
		<p>52500&nbsp;руб.</p>
		</td>
		<td >
		<p>59700&nbsp;руб.</p>
		</td>
		<td >
		<p>68300&nbsp;руб.</p>
		</td>
		<td>
		<p>1500</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Симферополь</p>
		</td>
		<td >
		<p>51200 руб.</p>
		</td>
		<td >
		<p>60600 руб.</p>
		</td>
		<td >
		<p>79300 руб.</p>
		</td>
		<td >
		<p>91900 руб.</p>
		</td>
		<td >
		<p>127000 руб.</p>
		</td>
		<td>
		<p>1800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Севастополь</p>
		</td>
		<td >
		<p>53100 руб.</p>
		</td>
		<td >
		<p>63400 руб.</p>
		</td>
		<td >
		<p>81500 руб.</p>
		</td>
		<td >
		<p>93000 руб.</p>
		</td>
		<td >
		<p>128000 руб.</p>
		</td>
		<td>
		<p>1900</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Сыктывкар</p>
		</td>
		<td >
		<p>37500&nbsp;руб.</p>
		</td>
		<td >
		<p>41500&nbsp;руб.</p>
		</td>
		<td >
		<p>48450&nbsp;руб.</p>
		</td>
		<td >
		<p>56000&nbsp;руб.</p>
		</td>
		<td >
		<p>67800&nbsp;руб.</p>
		</td>
		<td>
		<p>1300</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Тамбов</p>
		</td>
		<td >
		<p>14500&nbsp;руб.</p>
		</td>
		<td >
		<p>16500&nbsp;руб.</p>
		</td>
		<td >
		<p>18100&nbsp;руб.</p>
		</td>
		<td >
		<p>20600&nbsp;руб.</p>
		</td>
		<td >
		<p>25700&nbsp;руб.</p>
		</td>
		<td>
		<p>470</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Тверь</p>
		</td>
		<td >
		<p>7000&nbsp;руб.</p>
		</td>
		<td >
		<p>9500&nbsp;руб.</p>
		</td>
		<td >
		<p>12450&nbsp;руб.</p>
		</td>
		<td >
		<p>15000&nbsp;руб.</p>
		</td>
		<td >
		<p>18800&nbsp;руб.</p>
		</td>
		<td>
		<p>170</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Тольятти</p>
		</td>
		<td >
		<p>23400&nbsp;руб.</p>
		</td>
		<td >
		<p>27500&nbsp;руб.</p>
		</td>
		<td >
		<p>35500&nbsp;руб.</p>
		</td>
		<td >
		<p>43800&nbsp;руб.</p>
		</td>
		<td >
		<p>49900&nbsp;руб.</p>
		</td>
		<td>
		<p>1100</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Томск</p>
		</td>
		<td >
		<p>74500&nbsp;руб.</p>
		</td>
		<td >
		<p>82500&nbsp;руб.</p>
		</td>
		<td >
		<p>91500&nbsp;руб.</p>
		</td>
		<td >
		<p>121100&nbsp;руб.</p>
		</td>
		<td >
		<p>155000&nbsp;руб.</p>
		</td>
		<td>
		<p>3700</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Тула</p>
		</td>
		<td >
		<p>9700&nbsp;руб.</p>
		</td>
		<td >
		<p>12000&nbsp;руб.</p>
		</td>
		<td >
		<p>14000&nbsp;руб.</p>
		</td>
		<td >
		<p>16700&nbsp;руб.</p>
		</td>
		<td >
		<p>18750&nbsp;руб.</p>
		</td>
		<td>
		<p>190</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Тюмень</p>
		</td>
		<td >
		<p>45400&nbsp;руб.</p>
		</td>
		<td >
		<p>52500&nbsp;руб.</p>
		</td>
		<td >
		<p>59400&nbsp;руб.</p>
		</td>
		<td >
		<p>78500&nbsp;руб.</p>
		</td>
		<td >
		<p>108250&nbsp;руб.</p>
		</td>
		<td>
		<p>2200</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Ульяновск</p>
		</td>
		<td >
		<p>18400&nbsp;руб.</p>
		</td>
		<td >
		<p>20400&nbsp;руб.</p>
		</td>
		<td >
		<p>25500&nbsp;руб.</p>
		</td>
		<td >
		<p>40000&nbsp;руб.</p>
		</td>
		<td >
		<p>50000&nbsp;руб.</p>
		</td>
		<td>
		<p>850</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Уфа</p>
		</td>
		<td >
		<p>32500&nbsp;руб.</p>
		</td>
		<td >
		<p>38500&nbsp;руб.</p>
		</td>
		<td >
		<p>49500&nbsp;руб.</p>
		</td>
		<td >
		<p>56300&nbsp;руб.</p>
		</td>
		<td >
		<p>72000&nbsp;руб.</p>
		</td>
		<td>
		<p>1350</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Ханты-Мансийск</p>
		</td>
		<td >
		<p>62400&nbsp;руб.</p>
		</td>
		<td >
		<p>70500&nbsp;руб.</p>
		</td>
		<td >
		<p>79400&nbsp;руб.</p>
		</td>
		<td >
		<p>101000&nbsp;руб.</p>
		</td>
		<td >
		<p>136000&nbsp;руб.</p>
		</td>
		<td>
		<p>2800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Чебоксары</p>
		</td>
		<td >
		<p>16600&nbsp;руб.</p>
		</td>
		<td >
		<p>18400&nbsp;руб.</p>
		</td>
		<td >
		<p>24400&nbsp;руб.</p>
		</td>
		<td >
		<p>28700&nbsp;руб.</p>
		</td>
		<td >
		<p>35500&nbsp;руб.</p>
		</td>
		<td>
		<p>680</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Челябинск</p>
		</td>
		<td >
		<p>42600&nbsp;руб.</p>
		</td>
		<td >
		<p>49500&nbsp;руб.</p>
		</td>
		<td >
		<p>64450&nbsp;руб.</p>
		</td>
		<td >
		<p>75800&nbsp;руб.</p>
		</td>
		<td >
		<p>89800&nbsp;руб.</p>
		</td>
		<td>
		<p>1800</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Череповец</p>
		</td>
		<td >
		<p>15500&nbsp;руб.</p>
		</td>
		<td >
		<p>16400&nbsp;руб.</p>
		</td>
		<td >
		<p>18550&nbsp;руб.</p>
		</td>
		<td >
		<p>22750&nbsp;руб.</p>
		</td>
		<td >
		<p>28650&nbsp;руб.</p>
		</td>
		<td>
		<p>500</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Энгельс</p>
		</td>
		<td >
		<p>19400&nbsp;руб.</p>
		</td>
		<td >
		<p>22500&nbsp;руб.</p>
		</td>
		<td >
		<p>29700&nbsp;руб.</p>
		</td>
		<td >
		<p>40400&nbsp;руб.</p>
		</td>
		<td >
		<p>49800&nbsp;руб.</p>
		</td>
		<td>
		<p>900</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Якутск</p>
		</td>
		<td >
		<p>209600&nbsp;руб.</p>
		</td>
		<td >
		<p>249500&nbsp;руб.</p>
		</td>
		<td >
		<p>324600&nbsp;руб.</p>
		</td>
		<td >
		<p>391000&nbsp;руб.</p>
		</td>
		<td >
		<p>480000&nbsp;руб.</p>
		</td>
		<td>
		<p>8400</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Ялта</p>
		</td>
		<td >
		<p>52500 руб.</p>
		</td>
		<td >
		<p>62000 руб.</p>
		</td>
		<td >
		<p>80300 руб.</p>
		</td>
		<td >
		<p>92000 руб.</p>
		</td>
		<td >
		<p>128000 руб.</p>
		</td>
		<td>
		<p>1850</p>
		</td>
		</tr>
		<tr>
		<td nowrap="nowrap" valign="bottom" >
		<p>Ярославль</p>
		</td>
		<td >
		<p>12000&nbsp;руб.</p>
		</td>
		<td >
		<p>13500&nbsp;руб.</p>
		</td>
		<td >
		<p>16500&nbsp;руб.</p>
		</td>
		<td >
		<p>18500&nbsp;руб.</p>
		</td>
		<td >
		<p>21000&nbsp;руб.</p>
		</td>
		<td>
		<p>270</p>
		</td>
		</tr>
		<tr>
		<td colspan="6" >
		<p><em><strong><span>*Стоимость указана за наличный расчет, без&nbsp;</span></strong></em><em><strong><span>НДС.</span></strong></em></p>
		</td>
		</tr>
	</tbody>
</table>