<table align="center" id="MObl" border="3" cellpadding="0" cellspacing="0" class="striped rounded">
	<tbody>
		<tr style="background-color: white;">
		<td >
		<p style="text-align: center;"><strong>Транспорт/Услуга</strong></p>
		</td>
		<td >
		<p><strong>Грузо-подъемность</strong></p>
		</td>
		<td >
		<p><strong>Минимальный заказ, час</strong></p>
		</td>
		<td >
		<p><strong>Стоимость*</strong></p>
		</td>
		<td >
		<p><strong>Дополнительный час</strong></p>
		</td>
		<td >
		<p><strong>Выезд за МКАД</strong></p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Hyundai Porter (8 м³)</p>
		</td>
		<td >
		<p>900 кг</p>
		</td>
		<td >
		<p>2+1</p>
		</td>
		<td >
		<p>1700 руб.</p>
		</td>
		<td >
		<p>500 руб.</p>
		</td>
		<td >
		<p>30 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>CITROËN Jumper&nbsp;фургон (16 м³)</p>
		</td>
		<td >
		<p>1100 кг</p>
		</td>
		<td >
		<p>4+1</p>
		</td>
		<td >
		<p>3000 руб.</p>
		</td>
		<td >
		<p>650 руб.</p>
		</td>
		<td >
		<p>36 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Isuzu</p>
		</td>
		<td >
		<p>от&nbsp; 3000 кг до 4000 кг</p>
		</td>
		<td >
		<p>5+1</p>
		</td>
		<td >
		<p>4000 руб.</p>
		</td>
		<td >
		<p>700 руб.</p>
		</td>
		<td >
		<p>50 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Mercedes-Benz&nbsp;Atego</p>
		</td>
		<td >
		<p>5000 кг</p>
		</td>
		<td >
		<p>5+1</p>
		</td>
		<td >
		<p>7800 руб.</p>
		</td>
		<td >
		<p>1300 руб.</p>
		</td>
		<td >
		<p>50 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>MAN 40 м³ Тент</p>
		</td>
		<td >
		<p>10000 кг</p>
		<p>&nbsp;</p>
		</td>
		<td >
		<p>8+1</p>
		</td>
		<td >
		<p>12000 руб.</p>
		</td>
		<td >
		<p>1650 руб.</p>
		</td>
		<td >
		<p>55 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>DAF/SCANIA/MAN</p>
		<p>Тент</p>
		</td>
		<td >
		<p>20000 кг</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		</td>
		<td >
		<p>8+1</p>
		</td>
		<td >
		<p>14000 руб.</p>
		</td>
		<td >
		<p>1850 руб.</p>
		</td>
		<td >
		<p>60 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Hyundai Porter&nbsp;+ 1 грузчик</p>
		</td>
		<td >
		<p>&nbsp;</p>
		</td>
		<td >
		<p>2</p>
		</td>
		<td >
		<p>2200 руб.</p>
		</td>
		<td >
		<p>800 руб.</p>
		</td>
		<td >
		<p>30 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Hyundai Porter&nbsp;+ 2 грузчика</p>
		</td>
		<td >
		<p>&nbsp;</p>
		</td>
		<td >
		<p>2</p>
		</td>
		<td >
		<p>3000 руб.</p>
		</td>
		<td >
		<p>1000 руб.</p>
		</td>
		<td >
		<p>30 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>CITROËN Jumper&nbsp;+ 2 грузчика</p>
		</td>
		<td >
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		</td>
		<td >
		<p>2</p>
		</td>
		<td >
		<p>4000 руб.</p>
		</td>
		<td >
		<p>1200 руб.</p>
		</td>
		<td >
		<p>36 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p style="text-align: center;">CITROËN Jumper + 4 грузчика</p>
		</td>
		<td >
		<p>&nbsp;</p>
		</td>
		<td >
		<p>4</p>
		</td>
		<td >
		<p>6900 руб.</p>
		</td>
		<td >
		<p>1700 руб.</p>
		</td>
		<td >
		<p>36 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Isuzu</p>
		<p>+ 4 грузчика</p>
		</td>
		<td >
		<p>&nbsp;</p>
		</td>
		<td >
		<p>4</p>
		</td>
		<td >
		<p>9000 руб.</p>
		</td>
		<td >
		<p>1900 руб.</p>
		</td>
		<td >
		<p>50 руб./км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Mercedes-Benz&nbsp;Atego</p>
		<p>+ 6 грузчиков</p>
		</td>
		<td >
		<p>&nbsp;</p>
		</td>
		<td >
		<p>6</p>
		</td>
		<td >
		<p>13200 руб.</p>
		</td>
		<td >
		<p>2600 руб</p>
		</td>
		<td >
		<p>66 руб/км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Грузчики</p>
		</td>
		<td >
		<p>1 человек</p>
		</td>
		<td >
		<p>4</p>
		</td>
		<td >
		<p>1400 руб.</p>
		</td>
		<td >
		<p>350&nbsp; руб.</p>
		</td>
		<td >
		<p>500 руб/50км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Сборка мебели / упаковка</p>
		</td>
		<td >
		<p>1 человек</p>
		</td>
		<td >
		<p>4</p>
		</td>
		<td >
		<p>1600 руб.</p>
		</td>
		<td >
		<p>400&nbsp; руб.</p>
		</td>
		<td >
		<p>500 руб/50км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Такелаж (от 100 кг)</p>
		</td>
		<td >
		<p>1 человек</p>
		</td>
		<td >
		<p>4</p>
		</td>
		<td >
		<p>2400 руб.</p>
		</td>
		<td >
		<p>600 руб.</p>
		</td>
		<td >
		<p>500 руб/50км</p>
		</td>
		</tr>
		<tr>
		<td >
		<p>Поэтажные работы свыше 3-го этажа</p>
		</td>
		<td >
		<p>1 этаж</p>
		</td>
		<td >
		<p>1 предмет</p>
		</td>
		<td >
		<p>150 руб.</p>
		</td>
		<td >
		<p>&nbsp;</p>
		</td>
		<td >
		<p>&nbsp;</p>
		</td>
		</tr>
		<tr>
		<td colspan="6">
		<p><em><strong><span>*Стоимость указана за наличный расчет, без&nbsp;</span></strong></em><em><strong><span>НДС.</span></strong></em></p>
		</td>
		</tr>
	</tbody>
</table>