<table align="center" id="MObl" border="3" cellpadding="0" cellspacing="0" class="striped rounded">
	<tbody>
		<tr align="center" style="background-color: white;">
		<td width="148">
		<p align="center" style="text-align: center;"><strong>Транспорт/</strong></p>
		<p align="center" style="text-align: center;"><strong>Услуга</strong></p>
		<p align="center"><strong>&nbsp;</strong></p>
		</td>
		<td width="108">
		<p align="center"><strong>Грузо-подъемность</strong></p>
		</td>
		<td width="65">
		<p align="center"><strong>Минимальный заказ, час</strong></p>
		</td>
		<td width="114">
		<p align="center"><strong>Стоимость*</strong></p>
		</td>
		<td width="109">
		<p align="center"><strong>Дополнительный час</strong></p>
		</td>
		<td width="111">
		<p align="center"><strong>Выезд за МКАД</strong></p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Hyundai Porter (8 м³)</p>
		</td>
		<td width="108">
		<p align="center">900 кг</p>
		</td>
		<td width="65">
		<p align="center">2+1</p>
		</td>
		<td width="114">
		<p align="center">1700 руб.</p>
		</td>
		<td width="109">
		<p align="center">500 руб.</p>
		</td>
		<td width="111">
		<p align="center">30 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">CITROËN Jumper&nbsp;фургон (16 м³)</p>
		</td>
		<td width="108">
		<p align="center">1100 кг</p>
		</td>
		<td width="65">
		<p align="center">4+1</p>
		</td>
		<td width="114">
		<p align="center">3000 руб.</p>
		</td>
		<td width="109">
		<p align="center">650 руб.</p>
		</td>
		<td width="111">
		<p align="center">36 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Isuzu</p>
		</td>
		<td width="108">
		<p align="center">от&nbsp; 3000 кг до 4000 кг</p>
		</td>
		<td width="65">
		<p align="center">5+1</p>
		</td>
		<td width="114">
		<p align="center">4000 руб.</p>
		</td>
		<td width="109">
		<p align="center">700 руб.</p>
		</td>
		<td width="111">
		<p align="center">50 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Mercedes-Benz&nbsp;Atego</p>
		</td>
		<td width="108">
		<p align="center">5000 кг</p>
		</td>
		<td width="65">
		<p align="center">5+1</p>
		</td>
		<td width="114">
		<p align="center">7800 руб.</p>
		</td>
		<td width="109">
		<p align="center">1300 руб.</p>
		</td>
		<td width="111">
		<p align="center">50 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">MAN 40 м³ Тент</p>
		</td>
		<td width="108">
		<p align="center">10000 кг</p>
		<p align="center">&nbsp;</p>
		</td>
		<td width="65">
		<p align="center">8+1</p>
		</td>
		<td width="114">
		<p align="center">12000 руб.</p>
		</td>
		<td width="109">
		<p align="center">1650 руб.</p>
		</td>
		<td width="111">
		<p align="center">55 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">DAF/SCANIA/MAN</p>
		<p align="center">Тент</p>
		</td>
		<td width="108">
		<p align="center">20000 кг</p>
		<p align="center">&nbsp;</p>
		<p align="center">&nbsp;</p>
		</td>
		<td width="65">
		<p align="center">8+1</p>
		</td>
		<td width="114">
		<p align="center">14000 руб.</p>
		</td>
		<td width="109">
		<p align="center">1850 руб.</p>
		</td>
		<td width="111">
		<p align="center">60 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Hyundai Porter&nbsp;+ 1 грузчик</p>
		</td>
		<td width="108">
		<p align="center">&nbsp;</p>
		</td>
		<td width="65">
		<p align="center">2</p>
		</td>
		<td width="114">
		<p align="center">2200 руб.</p>
		</td>
		<td width="109">
		<p align="center">800 руб.</p>
		</td>
		<td width="111">
		<p align="center">30 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Hyundai Porter&nbsp;+ 2 грузчика</p>
		</td>
		<td width="108">
		<p align="center">&nbsp;</p>
		</td>
		<td width="65">
		<p align="center">2</p>
		</td>
		<td width="114">
		<p align="center">3000 руб.</p>
		</td>
		<td width="109">
		<p align="center">1000 руб.</p>
		</td>
		<td width="111">
		<p align="center">30 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">CITROËN Jumper&nbsp;+ 2 грузчика</p>
		</td>
		<td width="108">
		<p>&nbsp;</p>
		<p align="center">&nbsp;</p>
		</td>
		<td width="65">
		<p align="center">2</p>
		</td>
		<td width="114">
		<p align="center">4000 руб.</p>
		</td>
		<td width="109">
		<p align="center">1200 руб.</p>
		</td>
		<td width="111">
		<p align="center">36 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p style="text-align: center;">CITROËN Jumper + 4 грузчика</p>
		</td>
		<td width="108">
		<p align="center">&nbsp;</p>
		</td>
		<td width="65">
		<p align="center">4</p>
		</td>
		<td width="114">
		<p align="center">6900 руб.</p>
		</td>
		<td width="109">
		<p align="center">1700 руб.</p>
		</td>
		<td width="111">
		<p align="center">36 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Isuzu</p>
		<p align="center">+ 4 грузчика</p>
		</td>
		<td width="108">
		<p align="center">&nbsp;</p>
		</td>
		<td width="65">
		<p align="center">4</p>
		</td>
		<td width="114">
		<p align="center">9000 руб.</p>
		</td>
		<td width="109">
		<p align="center">1900 руб.</p>
		</td>
		<td width="111">
		<p align="center">50 руб./км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Mercedes-Benz&nbsp;Atego</p>
		<p align="center">+ 6 грузчиков</p>
		</td>
		<td width="108">
		<p align="center">&nbsp;</p>
		</td>
		<td width="65">
		<p align="center">6</p>
		</td>
		<td width="114">
		<p align="center">13200 руб.</p>
		</td>
		<td width="109">
		<p align="center">2600 руб</p>
		</td>
		<td width="111">
		<p align="center">66 руб/км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Грузчики</p>
		</td>
		<td width="108">
		<p align="center">1 человек</p>
		</td>
		<td width="65">
		<p align="center">4</p>
		</td>
		<td width="114">
		<p align="center">1400 руб.</p>
		</td>
		<td width="109">
		<p align="center">350&nbsp; руб.</p>
		</td>
		<td width="111">
		<p align="center">500 руб/50км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Сборка мебели / упаковка</p>
		</td>
		<td width="108">
		<p align="center">1 человек</p>
		</td>
		<td width="65">
		<p align="center">4</p>
		</td>
		<td width="114">
		<p align="center">1600 руб.</p>
		</td>
		<td width="109">
		<p align="center">400&nbsp; руб.</p>
		</td>
		<td width="111">
		<p align="center">500 руб/50км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Такелаж (от 100 кг)</p>
		</td>
		<td width="108">
		<p align="center">1 человек</p>
		</td>
		<td width="65">
		<p align="center">4</p>
		</td>
		<td width="114">
		<p align="center">2400 руб.</p>
		</td>
		<td width="109">
		<p align="center">600 руб.</p>
		</td>
		<td width="111">
		<p align="center">500 руб/50км</p>
		</td>
		</tr>
		<tr>
		<td width="148">
		<p align="center">Поэтажные работы свыше 3-го этажа</p>
		</td>
		<td width="108">
		<p align="center">1 этаж</p>
		</td>
		<td width="65">
		<p align="center">1 предмет</p>
		</td>
		<td width="114">
		<p align="center">150 руб.</p>
		</td>
		<td width="109">
		<p align="center">&nbsp;</p>
		</td>
		<td width="111">
		<p align="center">&nbsp;</p>
		</td>
		</tr>
		<tr>
		<td colspan="6" width="656">
		<p align="center"><em><strong><span>*Стоимость указана за наличный расчет, без&nbsp;</span></strong></em><em><strong><span>НДС.</span></strong></em></p>
		</td>
		</tr>
	</tbody>
</table>