
<section class="promo-action">
	<div class="container">
		<div class="left-part col-md-6 col-sm-6 col-xs-12">
			<h2 class="editable">{{ include.caption }}</h2>
			<p class="subtext editable">{{ include.subtext }}<br />
				{{ include.call_action_text }}
			</p>
		</div>
		<div class="right-part col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
			<a href="#fast-call-form-popup" class="open-popup-link">
				<div class="button btn calc-btn col-sm-12 col-xs-12">{{ include.button_text }}</div>
			</a>
			<a href="tel:+74952310460" class="tel col-sm-12 col-xs-12">
				<i class="fas fa-phone"></i><span class="font-fix"> +</span><span>7 {{ site.site_phone_code }} {{ site.site_phone }}</span>
			</a>
		</div>
	</div>
</section>
