

<section class="promo-action">
	<div class="container">
		<div class="left-part col-md-6 col-sm-6 col-xs-12">
			<h2 class="editable">Нужна оперативная мужская помощь?</h2>
			<p class="subtext editable">Выезд мастера в течении часа!  <br />
				Срочный вызов по телефону:
			</p>
		</div>
		<div class=" col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
			<a href="#mainform-popup" class="open-popup-link">
				<div class="button btn calc-btn col-sm-12 col-xs-12">Вызвать мастера</div>
			</a>
			<a href="tel:+74993907668" class="tel col-sm-12 col-xs-12">
					<i class="fas fa-phone"></i>
					<span><p>+</p>7 499 390 7668</span>
			</a>
		</div>
	</div>
</section>