@font-face {
    font-family: 'Intro Cond black';
    src: url('../fonts/intro_cond_black_free-webfont.woff2') format('woff2'),
         url('../fonts/intro_cond_black_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Intro Cond light';
    src: url('../fonts/intro_cond_light_free-webfont.woff2') format('woff2'),
         url('../fonts/intro_cond_light_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINPro Medium';
    src: url('../fonts/DINPro-Medium.woff2') format('woff2'),
         url('../fonts/DINPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINPro Light';
    src: url('../fonts/DINPro-Light.woff2') format('woff2'),
         url('../fonts/DINPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	background: $html-background-color;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $main-font!important;
	letter-spacing: 0.5px;
}

a {
	color: $brand-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: $hover-brand-color;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5 {
	font-family: $header-font!important;
}
h1 {
	font-weight: 300;
	margin: 0;
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	font-size: 3.3rem!important;
	color: white;
}

h2 {
	font-weight: 300;
	font-size: 2.5rem;
	margin: 0 0 30px 0;
}

h3 {
    font-size: 1.9rem;
    margin: 0 0 20px 0;
    color: firebrick;
}

h4 {
	font-size: 1.5rem;
	margin: 0 0 10px 0;
}

p, address, ul, ol, pre, blockquote {
	margin: 0 0 20px 0;
	padding: 0;
}

p, address, ul, ol {
	font-size: 1.38rem;
	color: #666;
	font-weight: normal;
	line-height: 1.6;
}

li {
	list-style-type: none;
}
.ui-tabs-nav {
    width: 400px;
    text-align: center;
    margin: 0 auto!important;
}
.ui-tabs-tab {
    width: auto;
    list-style-type: none!important;
    float: left;
	padding: 0px 17px;
	margin: 0 0 17px;
}
.ui-state-active {
	background-color: $brand-color;
	color: white;
	align-self: auto;

	a {
		color: inherit;
	}
}

table {
    display: table;
	border: 0px solid #e5e5e5;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
	
	pre {
		padding: 10px;
		background: #eee;
		border-radius: 2px;
	}
	.rounded {
		border-radius: 4px;
		border-collapse: separate;
	}
}
.striped {
	p {
		font-size: 13px;
		margin: 10px 7px;
		text-align: center;
	}
}
.striped tr:nth-of-type(even) {
    background-color: ghostwhite;
}

.wwd_block {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: all .2s ease;;
    transition: all .2s ease;;
	width: 100%;
	overflow: hidden;

	&:hover {
		background-color: white;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1);
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		-webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);

        .add-info {
			top: 10px;
			transition: all .5s ease;
			right: -7px;
		}
	}
}
.wwd_icon_block, .wwd_text_block {
    display: block;
	text-align: center;
}
.wwd_photo_block {
	height: 205px;
	border: 2px solid coral;
}
.grid {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	text-align: center;

	li {

		display: inline-block;
		width: 330px;
		margin: 0;
		text-align: left;
		position: relative;
	
	}

	figure {

		margin: 0;
		position: relative;
		border: 0px solid;
		height: 270px;
		cursor: pointer;

		svg {

			display: block;
			position: relative;
			margin: 0 auto;
			top: 35px;
			width: 100%;
			height: 55%;
		
		}
	}

	figcaption {

		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		background: #FFA712;
		color: whitesmoke;
		font-size: 17px;

		.wwd_text_block {
			margin: 5% auto 0;
			padding: 0 10px;
			font-weight: bold;
			color: floralwhite;
		}

		p {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%) ;
			color: white;
			width: 50%;
		} 

		a {
			font-size: 17px;
			text-align: center;
			padding: 5px 10px;
			border-radius: 2px;
			display: inline-block;
			background: #666;
			color: white;

			&:hover {
				color: $hover-brand-color;
				background-color: $html-background-color;
			}
		}
	}
}


/* Individual Caption Styles */


/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background-color: floralwhite;
}
.cs-style-4 .fixed-span  {
    position: absolute;
    bottom: -70px;
    text-align: center;
    width: 100%;
}
.gallery-fix .cs-style-4 li {
	margin-bottom: 85px;
}
.gallery-fix .cs-style-4 a {
    right: 15px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    border-radius: 2px;
    background-color: #666666;
    color: white;
    width: auto;
    padding: 7px;
    height: auto;
}
.cs-style-4 figure span,
.cs-style-4 figure a  {
    position: absolute;
	text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
	width: 55%;
	padding: 15px;
}

.cs-style-4 figure a {
    right: 15px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    border-radius: 2px;
    background-color: #666666;
    color: white;
    height: 30px;
    width: 35%;
	padding: 0px;
}

.no-touch .cs-style-4 figure:hover svg,
.cs-style-4 figure.cs-hover svg {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 90px;
	width: 100%;
	opacity: 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: $brand-color;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s; 
}

.slide-three {

	.item {
		padding: 90px 0px 0 !important;
	}
}
.what-we-do {
	.slide-three {
		margin-top: -75px;
	}
}
/* Caption Style 2 */
.cs-style-2 {

	figure {

		.wwd_icon_block {
			z-index: 10;
			position: absolute;
			background-color: white;
			-webkit-transition: -webkit-transform 0.4s;
			-moz-transition: -moz-transform 0.4s;
			transition: transform 0.4s;    
			width: 100%;
			height: 100%;

			.wwd_icon_name  {

				position: relative;
				height: 75px;
				bottom: -30px;
			
				p {
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					font-weight: bold;
					font-size: 23px;
					width: 100%;
					padding: 0px 30px;
				}

			}
		}

		&:hover {
			.wwd_icon_block {
				-webkit-transform: translateY(-87px);
				-moz-transform: translateY(-87px);
				-ms-transform: translateY(-87px);
				transform: translateY(-87px);
			}
		}
	}

	figcaption {
		height: 90px;
		width: 100%;
		top: auto;
		bottom: 0;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;

		a {
			float: right;
			margin-top: 11px;
			font-weight: bold;
		}
	}
}

.file-icon {
    background: url(../images/icons/icon_1.png) no-repeat center center transparent;
    height: 35px;
    width: 37px;
    display: inline-block;
    margin-bottom: -7px;
}
.zamer-icon {
    background: url(../images/icons/zamer-64.png) no-repeat center center transparent;
    height: 57px;
    width: 70px;
    display: inline-block;
    margin-bottom: -19px;
}
.raspak-icon {
    background: url(../images/icons/unpack-64.png) no-repeat center center transparent;
    height: 57px;
    width: 70px;
    display: inline-block;
    margin-bottom: -19px;
}
.chair-icon {
    background: url(../images/icons/chair-51.png) no-repeat center center transparent;
    height: 57px;
    width: 70px;
    display: inline-block;
    margin-bottom: -19px;
}
.biceps-icon {
    background: url(../images/icons/biceps-57.png) no-repeat center center transparent;
    height: 57px;
    width: 70px;
    display: inline-block;
    margin-bottom: -19px;
}
.man-icon {
    background: url(../images/icons/man-61.png) no-repeat center center transparent;
    height: 57px;
    width: 70px;
    display: inline-block;
    margin-bottom: -19px;
}
.message-icon {
    background: url(../images/icons/message-72.png) no-repeat center center transparent;
    height: 57px;
    width: 70px;
    display: inline-block;
    margin-bottom: -19px;
}
.stroitel-icon {
    background: url(../images/icons/stroitel-21.png) no-repeat center center transparent;
    height: 57px;
    width: 70px;
    display: inline-block;
    margin-bottom: -19px;
}
.house-icon {
    background: url(../images/icons/house-57.png) no-repeat center center transparent;
    height: 57px;
    width: 70px;
    display: inline-block;
    margin-bottom: -19px;
}

.mini-element {
	color: #555555;
	width: fit-content;
	width: -moz-fit-content;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 37px;
	padding: 5px 22px;
	cursor: pointer;

	&.price-btn {
		background: #f2f2f2;    
		border: 1px solid #f2f2f2;
		
		&:hover {
			background-color: white;
		}
	}
	&.form-btn {
		background: #f6b83f;

		a {	
			color: white;	
		}

		&:hover {
			background-color: $brand-color;
		}
	}
}

.owl-prev {
	position: absolute;
	left: -70px;
}
.owl-next {
	position: absolute;
	right: -70px;
}
.owl-prev, .owl-next {
    top: 45%;
    height: 37px;
	width: 33px;
	
	border: solid white;
	border-width: 0 7px 7px 0;
	display: inline-block;
	padding: 15px;
}
.owl-prev {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);

	&:hover {
		border-width: 0 7px 7px 0;
		border-color: #FFA712;
	}
}
.owl-next {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	&:hover {
		border-width: 0 7px 7px 0;
		border-color: #FFA712;
	}
}
.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	left: 50px;
	z-index: 997;
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgb(255, 194, 89) url(../images/icons/arrow-66.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
	transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
	transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-top--fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: 1;
}

.cd-top:hover {
	background-color: #FFA712;
	opacity: 1;
}

.ya-informer {
	display: block;
	float: right;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 50px;
		width: 50px;
		right: 30px;
		bottom: 30px;
	}
}