@font-face {
    font-family: 'Intro Cond black';
    src: url('../fonts/intro_cond_black_free-webfont.woff2') format('woff2'),
         url('../fonts/intro_cond_black_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Intro Cond light';
    src: url('../fonts/intro_cond_light_free-webfont.woff2') format('woff2'),
         url('../fonts/intro_cond_light_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINPro Medium';
    src: url('../fonts/DINPro-Medium.woff2') format('woff2'),
         url('../fonts/DINPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINPro Light';
    src: url('../fonts/DINPro-Light.woff2') format('woff2'),
         url('../fonts/DINPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	background: $html-background-color;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $main-font!important;
	letter-spacing: 0.5px;
}

a {
	color: $brand-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5 {
	font-family: $header-font!important;
}
h1 {
	font-weight: 300;
	margin: 0;
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-weight: bold;
}

h2 {
	font-weight: 300;
	font-size: 2.5rem;
	margin: 0 0 30px 0;
}

h3 {
	font-size: 2.1rem;
	margin: 0 0 20px 0;
}

h4 {
	font-size: 1.5rem;
	margin: 0 0 10px 0;
}

p, address, ul, ol, pre {
	margin: 0 0 20px 0;
	padding: 0;
}

p, address, ul, ol {
	font-size: 1.38rem;
	color: #666;
	font-weight: normal;
	line-height: 1.6;
}

li {
	list-style-type: none;
}
.ui-tabs-nav {
    width: 400px;
    text-align: center;
    margin: 0 auto!important;
}
.ui-tabs-tab {
    width: auto;
    list-style-type: none!important;
    float: left;
	padding: 0px 17px;
	margin: 0 0 17px;
}
.ui-state-active {
	background-color: $brand-color;
	color: white;
	align-self: auto;

	a {
		color: inherit;
	}
}

table {
    display: table;
	border: 0px solid #e5e5e5;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
	
	pre {
		padding: 10px;
		background: #eee;
		border-radius: 2px;
	}
	.rounded {
		border-radius: 4px;
		border-collapse: separate;
	}
}
.striped {
	p {
		font-size: 13px;
		margin: 10px 7px;
		text-align: center;
	}
}
.striped tr:nth-of-type(even) {
    background-color: ghostwhite;
}
.wwd_text_block {
	margin: 8% auto 0;
}
.wwd_icon_block {
	width: 100%;
	margin: 0 auto;
}
.wwd_icon_block, .wwd_text_block {
    display: block;
	text-align: center;
}

.grid {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {

    display: inline-block;
    width: 330px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;

}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure svg {
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #FFA712;
	color: whitesmoke;
	font-size: 1.3em;
}

.grid figcaption .wwd_text_block {
	margin: 0;
	padding: 0;
	color: #fff;
}


.grid figcaption a {
	font-size: .7em;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: indianred;
	color: #fff;
}

/* Individual Caption Styles */


/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background-color: floralwhite;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure svg {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;    
	width: 100%;
    max-height: 250px;
    margin: 57px auto;
}

.no-touch .cs-style-4 figure:hover svg,
.cs-style-4 figure.cs-hover svg {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

