input[type=checkbox] {
    float: left;
    width: auto;
    height: 26px;
}
.q-form {
	letter-spacing: 2px;

	label {
		float: left;
		width: 77%;
		margin: 0 15px 19px;
		font-size: 15px;
	}
}

.stuff {
	label {
		margin: 20px 0;
		font-size: 17px;
	}
	input[type=submit] {
		margin: 20px 0 0;
	}
}

input[type=submit] {
	color: #fff;
	text-decoration: none;
	padding: 20px 0;
	border-radius: 7px;
	transition: 0.2s ease-in-out;
	background: $brand-color;
	cursor: pointer;
}

input[type=submit]:hover {
	border: 0px solid $brand-color;
	background: $hover-brand-color;
}

input[type=submit]:active {
	transform: translateY(1px);
}

textarea,
input,
button,
select {
	font-family: inherit;
	font-size: inherit;
}

input[type=submit] {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.7px;
    font-size: 17px;
}

label,
input,
textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	height: 180px;
}

label {
	margin: 30px 0 10px 0;
	font-size: 1.2em;
}

input,
textarea {
	padding: 20px;
	font-size: 1.2em;
	border-radius: 3px;
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDD;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	box-shadow: 0 0 5px $brand-color;
	border: 1px solid $brand-color;
}

.input-form, .form__textarea {
    width: 100%;
    padding: 14px;
	margin: 21px 0;
	color: gray;
}
.input-form {
	color: gray;
	position: relative;
	display: block;
	
	&:before {
		position: absolute;
		display: inline-block;
		content: " ";
		width: 23px;
		height: 16px;
		right: 10px;
		top: 13px;
		background: url(../images/telephone.svg) left top no-repeat;
	}
}
.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px solid transparent;
	border-radius: 7px;

	&.calc-btn {

		background:rgb(54, 54, 54) none repeat scroll 0 0;
		box-shadow: 0 6px 0 0 #1b1b1b;
	
		&:hover {
			background: rgb(80, 80, 80) none repeat scroll 0 0;
			color: #fff;
		}
	}
}

input[type=tel] {
    width: 85%;
    height: 40px;
    font-size: 1.3rem;
    color: #505050;
    text-indent: 20px;
    margin: 30px auto 20px;
}