.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 900px;
}

.container {
	max-width: 1100px;
	
	// &.sale-page {
	// 	animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0.02, 0.96) forwards;
	// 	opacity: 0;
	// }
	li {
		text-align: -webkit-match-parent;
		list-style-type: none;
	}
}
header {
	height: 100px;
	color: #fff;
	padding: 17px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 300;
	transition: 0.2s ease-in-out;

	li {
		display: list-item;
	}
	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		padding-top: 7px;

		img {
			max-width: 150px;
			max-height: 50px;
		}
	}

	&.minimised {
		background-color: $brand-color;
	}

	.tel {
		text-align: center;
		white-space: nowrap;
		color: white;
		font-size: 21px;
		margin: 0 auto;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

section {
	padding: 150px 0;
	background: #fff;
	margin-top: -2px;

	&.hero {
		box-shadow: inset 0px -6px 3px -3px rgba(50, 50, 50, 0.15);
		color: #ffffff;
		background-size: cover;
		background-position: center center;
		text-align: left;
		padding-top: 170px;
		position: relative;
		height: 100vh;

		h1 {
			word-wrap: break-word;
		}
		
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0; top: 0;
			background: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,.5));
		}

		.subtext {
			padding-bottom: 60px;
			
			a {
				font-weight: 600;
				border-bottom: 1px dashed;
				font-size: 20px;
				color: white;
			}
		}

		p {
			font-size: 1.8rem;
			color: #fff;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		}
	}
	&.vrazrabotke {
		
		background: white url(../images/hero-img/vrazrabotke.jpg) no-repeat top center;
		background-size: cover;
		color: white;
		
		.subtext {
			padding-bottom: 60px;
			
			a {
				font-weight: 600;
				border-bottom: 1px dashed;
				font-size: 20px;
				color: white;
			}
		}

		&:before {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2));
		}
	}
	&.what-we-do {
		text-align: center;
		background: #eee no-repeat top center;

		//// https://images-na.ssl-images-amazon.com/images/G/01/vas/sdp/hero/B00UBYCQJI.hero.jpg
		// background-size: contain;
		// background-position: left bottom;
	}
	&.gallery {

		.image-grid {
			padding: 0;
			list-style: none;
			display: flex;
			flex-flow: wrap;
			text-align: center;
			margin: 0 -20px;
			justify-content: center; 
		
			li {
				overflow: visible;
				line-height: 29px;

				img {
					min-width: 100%;
				}				

					
				@media #{$tablet} {
					flex: 1 1 45%;
				}

				@media #{$desktop} {
					flex: 0 1 25%;
				}
			}
		}
	}
	&.page {
		margin-bottom: 0;
		padding: 55px;

		h2 {
			font-weight: 300;
			font-size: 2.2em;
			margin: 0 0 30px 0;
		}
		.subtext {
			font-size: 1.5em;
			color: #666;
			margin-bottom: 20px;
			font-weight: 300;
			line-height: 1.5em;
		}
		ul {
			margin-left: 25px;
		}
		li {
			list-style-type: square;
		}
	}
	&.patterned {
		background: #222 url($pattern);
	
		p, strong, h2, h3, span {
			color: #fefefe;
		}
		.description {
			width: 60%;
			text-align: center;
			margin: 0 auto;
		}
	}
	&.casual {
		background: transparent url($casual) repeat top center;
		text-align: left;

		ul {
			margin: 0 0 20px 0;
			padding: 0 0 0 25px;
		}
		li {
			list-style-type: square;
		}
		table {
			background-color: white;

		}
		.image-grid {
			padding: 0;
			list-style: none;
			display: flex;
			flex-flow: wrap;
			text-align: center;
			margin: 0 -20px;
		
			img {
				min-width: 100%;
			}
		}
		a:hover {
			color: $brand-color;
			text-decoration: underline;
		}
	}
	&.casual-white {
		background-color: white;
		a:hover {
			color: $brand-color;
			text-decoration: underline;
		}
		.image-grid {
			padding: 0;
			list-style: none;
			display: flex;
			flex-flow: wrap;
			text-align: center;
			margin: 0 -20px;
		
			img {
				min-width: 100%;
			}
		}
	}
	&.success {
		padding: 0 0 150px;
		background-color: white;
		a:hover {
			color: $brand-color;
			text-decoration: underline;
		}
	}
	&.promo-action {

		padding: 50px 0;
		position: relative;
		overflow: hidden;

		.container::before {
			content: "";
			background-image: url(/images/chas.png);
			background-position: top left;
			width: 500px;
			height: 503px;
			background-repeat: no-repeat;
			position: absolute;
			left: -390px;
			top: -25px;
		}

		&:before {
			content: "";
			width: 100%;
			height: 10000%;
			position: absolute;
			left: 0;
			top: -5000%;
			background: #FFA715 none top left;
			transform: rotate(0deg);
			z-index: 0;

			@media #{$tablet} {
				background: #FFA712 url(../images/arrow-to-phone.png) no-repeat 37.7% 49.79%;
				transform: rotate(245deg);
			}
		}


		h2, p {
			color: white;
		}

		.tel {
			text-align: center;
			padding: 8% 10%;
			color: black;
			p {
				color: inherit;
			}
		}
	}
	&.comments {
		background: white url(../images/bg/bg_comments.jpg) no-repeat top center;
		background-size: cover;
	}		
	&.social {
		background-color: #FFA715;
		color: white;
		text-align: center;
		.social_links {
			li {
				list-style-type: none;
				float:left;
				width: 33%;
				a {
					display:block;
					height:170px;
					text-align:center;
					background-position: 0 0;
				}
			}
		}
	}
	&.order-stages {
		li {
			text-align: center;
		}
		.arrow {
			position: absolute;
			top: 50px;
			right: -20px;
		}
	}
	&.end-form {
		background: transparent url(../images/bg/bg-questions.jpg) no-repeat top right;
		background-size: 100%;
		color: #fefefe;

		@media (max-width: 768px) {
			background-size: cover;
		}

		.q-form {
			padding: 6%;
			background-color: rgba(0, 0, 0, 0.2);
			letter-spacing: 2px;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		}
	}
	&.client {
		img {

			max-width: 100%;
			height: auto;
			display: block;
			position: relative;
			z-index: 2;
			box-shadow: 0px 4px 0px 0 $brand-color;
			margin: 0 auto;

			&:hover {
				box-shadow: 0px 4px 0px 0 $brand-color-shadow;
			}
		}

		blockquote {
			width: 100%;
			p {
				font-size: 21px;
				color: black;
			}
			img {
				max-width: 50%;
			}
		}
		li {
			list-style-type: square;
			list-style-position: inside;
		}
	}
	&.prices {
		background-color: #d3d3d3;
	}
	&.page-header {
		margin-bottom: 0;
		padding: 52px;
		background: #222;
	}
	&.stroitelstvo {
		background: url(/images/bg/bg_wwd.jpg) bottom right no-repeat transparent;
			background-size: auto;
	}
	&.stroitelstvo1 {
		background: url(/images/services/stroitelstvo/4dom_postroika.jpg) bottom right no-repeat transparent;
		background-size: contain;
	}
	&.stroitelstvo2 {
		background: url(/images/bg/bg_wwd.jpg) bottom right no-repeat transparent;
	}
}
.partners {

	img {
		-webkit-filter: grayscale(1);
		filter: grayscale(1);

		&:hover {
			-webkit-filter: grayscale(0);
			filter: grayscale(0);
		}
	}
}
.make-call {
	padding: 15px 20px;
	border: 0px solid;
	&:hover {
		background: #FE9F03 none repeat scroll 0 0;
		box-shadow: 0 6px 0 0 #a26d00;
		color: #fff;
	}
}

.button {
	width: 100%;
    border: 0px solid;
    padding: 18px 0px;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
	outline: medium none;

	&:hover {
		background: $brand-color none repeat scroll 0 0;
		color: #fff;
	}

	&:active {
		background: rgb(194, 87, 0);
		box-shadow: 0 3px 0 0 #D78600;
		color: #fff;
		transform: translateY(3px);
		outline: medium none;
	}
}

.emergency-call {
	background: #ff484b none repeat scroll 0 0;
    box-shadow: 0 6px 0 0 #d01e37;
	width: 100%;
	
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	&:hover {
		background: #f37678 none repeat scroll 0 0;
		color: #fff;
	}
}


.left-part {
    width: 55%;
    padding: 0px;
    margin: 0;
	float: left;
	animation: fade-slide-right 2s .5s cubic-bezier(0, 0.5, 0.02, 0.96) forwards;
	opacity: 0;
}
.right-part {
}

.price-table {
	letter-spacing: 1px;
	border-collapse: collapse;

	span {
		word-wrap: break-word;
		text-shadow: 0 1px 0 rgba(1, 1, 1, 0.35);
		line-height: 2.0em;
		font-size: 1.5em;
	}
	strong {
		font-size: 1.7em;
		text-shadow: 0 1px 0 rgba(1, 1, 1, 0.35);
		font-weight: lighter;
		// background-color: #ffa715;
	}
	
	tr:first-child {
		border-top: 5px solid $brand-color;
	  }
	th+th,
	td+td {
		padding-left: 1em;  /* отступы между столбцами без вертикальных рамок */
	  }
}

.halves {
	display: flex;
	flex-flow: wrap;
	// align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1 0;
		}

		> div + div {
			padding-left: 60px;
			margin: 0;
		}
	}
}
.wwd_block {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: all 0.2s ease;;
    transition: all 0.2s ease;;
	width: 100%;
	overflow: hidden;

	&:hover {
		background-color: white;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1);
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		-webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);

        .add-info {
			top: 10px;
			transition: all .5s ease;
			right: -7px;
		}
	}
}
.widget-copyright {
	display: none !important;
}
.tel_icon_block {
    position: absolute;
    height: 100%;
    line-height: 67px;
    font-size: 24px;
    width: 35px;
}
.header-center-block {
	text-align: center;
}

.add-info {
    content: '';
    position: absolute;
    top: -120px;
    right: 0px;
    width: 150px;
    height: 55px;
    background: rgba(210, 210, 210, 0.35);
    transform-origin: 50% 50%;
    transform: rotate(35deg);
	
	transition: all .35s ease;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;

	&:before {
		content: attr(data-title);
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 4px;
		margin-left: 5px;
		color: #f37678;
		// font-family: $sub-font;
		font-size: 16px;
		z-index: -1px;
		top: 0;
		left: 0;
		width: 100%;
		height: 85%;
		transition: all .5s ease;
	}

	@media screen and(max-width: 768px) {
		top: 10px;
		transition: all .5s ease;
		right: -7px;
	}
}

// integrated 

.column {
	border-radius: 2px;
	margin: $margin*5 0;
	padding:$padding*4 $padding*2;
	position:relative;
	overflow:hidden;
	position:relative;
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	align-items:center;
	transition: all .5s ease;

	.img-wrap {
	height:250px;
	width:45%;
	overflow:hidden;
		img {
			border-radius:10px;
			max-width:100%;
			height:100%;
		}
	}

		.paragraph { 
		position: relative;
		height:auto;
		width:50%;
		padding:$padding;
	h1, p {
		font-weight:200;
		color:black;
	}
		p{
			// font-family: $sub-font;
			text-align: left;
		}
	}

	@media screen and(max-width: 768px) {
	flex-direction: column;
	justify-content:center;

		.img-wrap {
			height:200px;
			width:100%;
			margin-bottom:10px;
		}

		.paragraph {
			width:100%;
			height: auto;
		}
	} 
}

.column {
	margin-top:25px;
	border-radius:2px;
	color:white; 
	background:transparent;

	p {
	color: gray;
	transition: all .35s ease; 

		&:hover {
			color:rgba(lighten($hover-brand-color,20%),.95);
			transition: all .35s ease;
		}     
	}
}

.column {
border-radius: 5px;
text-align: center;
background:white;

	.blue-btn {
	color: #C7F8F9;
	background: #6AB1C9;
	border:2px solid transparent;
	transition: all .35s ease;

		&:hover {
			color:black;
			background:transparent;
			border:2px solid black;
			transition: all .35s ease;
		}
	}
}
// integrated-end


.st_bl_items {
	padding: 0;
}
.st_bl_item  {
    float: left;
	position: relative;
    width: 23%;
    padding: 1%;
	text-align: center;
	list-style: none;
	list-style-type: none;
}
.centered {
    text-align: center;
    margin: -100px auto 30px;
    width: 100%;
}

.aligned-top {
	align-items: flex-start;
}

.aligned-top i.fas {

    color: #C6C6C6;
    float: left;
    margin-left: -35px;
    line-height: 45px;
    font-size: 19px;

}
.gallery-fix .image-grid {
	display: block;
}
.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		img {
			min-width: 120%;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;
		margin: 0 20px;

		img {
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.img-pading {
	padding: 0 15px;
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}


.price-s {
	padding: 150px 0 0;
}

.comment_block {
    background: white;
    color: #333333;
    line-height: 1.5em;
    font-weight: 500;
    font-size: .9em;
    font-style: italic;
    position: relative;
    padding: 40px;
	border: 1px solid #D6D3D3;
		border-bottom-color: rgb(214, 211, 211);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom: 2px solid #C4C2C2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    margin: 0 0 20px;
    height: 390px;
	overflow: hidden;
}
.sign {
	font-size: 16px;
    display: flex;
    align-items: center;
    color: #75828a;
	margin: 0 0 25px;
	
}
#sign-avatar {
    margin: 0;
    margin-right: 7%;
    height: 100px;
    width: auto;
}
.metrika {
	float: right;
}
.clearfix {
	clear: both;
}
.owl-carousel {
	.item {
		padding: 15px 30px;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 0;
		text-align: left;
		line-height: 26px;

		img {
			border-radius: 5px;
			text-align: left;
			margin: 0 0 10px;

			&.no-border {
				border: 0px solid;
			}
		}
	}
}
.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 320px;
	margin: 20px auto;
}
.form-text-after-button {
	text-align: center;
	// transform: rotate(180deg);
}
.noteFormBottom {
	color: darkgray;
	font-size: 12px;
	background: url(../images/time.svg) 0 50% no-repeat;
	padding-left: 40px;
	display: inline-block;
	max-width: 175px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	min-height: 23px;
	padding-top: 2px;
}

blockquote {
    background-color: floralwhite;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 40px;
    padding-right: 40px;
	box-shadow: 0 5px 0 #ffa715;
	float: left;
	
	img {
		box-shadow: none!important;
		margin: 0 35px 0 0 !important;
		float: left;
	}

	// &:before { 
	// 	content: '⌂';
	// 	font-weight: normal;
	// 	opacity: 0.1;
	// 	font-size: 136px;
	// 	position: absolute;
	// 	color: #fff;
	// 	top: -50px;
	// 	left: -25px;
	// 	transform: rotate(45deg);
	// }
}
.contact-info {
	margin-top: 20px;
	p {
		display: inline-block;
		margin-right: 20px;
	}
	i {
		height: 30px;
		width: 30px;
		display: inline-block;
		background: $brand-color;
		text-align: center;
		line-height: 30px;
		margin-right: 10px;
		color: #fff;
		font-size: 21px;
	}
	a:hover {
		text-decoration: underline!important;
	}
}

.licenses_popup {
    padding-left: 36px;
    padding-top: 4px;
    position: relative;
    z-index: 97;
    cursor: pointer;
    outline: 0;
    display: block;
    margin: 0 0 8px;
    color: #555;
    font-size: .867em;
    min-height: 20px;
}
#blink { 
	-webkit-animation: blink 2s linear infinite; 
	animation: blink 2s linear infinite; 
	font-weight: bold;
	color: rgb(60, 162, 162)
} 
@-webkit-keyframes blink { 
	50% { 
		color: rgb(60, 162, 162); 
	} 
	51% { 
		color: rgba(60, 162, 162, 0); 
	} 
	100% { 
		color: rgba(60, 162, 162, 0); 
	} 
} 
@keyframes blink { 
	50% { 
		color: rgb(60, 162, 162); 
	} 
	51% { 
		color: rgba(60, 162, 162, 0); 
	} 
	100% { 
		color: rgba(60, 162, 162, 0); 
	} 
} 

@-webkit-keyframes fade-slide-down { 
	0% { 
		opacity: 0;
		transform: translateY(-70px)
	}
	100% { 
		opacity: 1;
		transform: none
	} 
} 
@keyframes fade-slide-down { 
	0% { 
		opacity: 0;
		transform: translateY(-70px)
	}
	100% { 
		opacity: 1;
		transform: none
	} 
} 
@-webkit-keyframes fade-slide-right { 
	0% { 
		opacity: 0;
		transform: translateX(-70px)
	}
	100% { 
		opacity: 1;
		transform: none
	} 
} 
@keyframes fade-slide-right { 
	0% { 
		opacity: 0;
		transform: translateX(-70px)
	}
	100% { 
		opacity: 1;
		transform: none
	} 
} 