@mixin ClearFix {
	&:after {
		clear: both;
		display: block;
		content: " ";
	}
	&:before {
		clear: both;
		display: block;
		content: " ";
	}
}
.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 900px;
}

.container {
	max-width: 1100px;
	
	.li {
		display: list-item;
		text-align: -webkit-match-parent;
	}
}

header {
	color: #fff;
	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 300;
	transition: 0.2s ease-in-out;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		padding-top: 5px;

		img {
			width: 150px;
		}
	}

	&.minimised {
		background-color: $brand-color;
		height: 100px;
	}

	.tel {
		text-align: center;
		padding: 5px 0 0;
		white-space: nowrap;
		color: white;
		font-size: 16px;
				
		i {
			float: left;
			line-height: 250%;
		}

	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

section {
	padding: 150px 0;
	background: #fff;
	margin-top: -2px;

	&.hero {
		color: #ffffff;
		// background: $brand-color;
		// background:  $brand-color url(https://i.imgur.com/GUsRWLg.jpg) no-repeat top center;
		// background:  $brand-color url(../images/bg-application.jpg) no-repeat top center;
		background:  $brand-color url(https://www.gk-montagetischler.at/upload/imgproc/1921127_head.jpg) no-repeat top center;
		background-size: cover;
		text-align: left;
		padding-top: 250px;
		position: relative;
		
		&:before {
			@include ClearFix;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0; top: 0;
			background-color: #4c4c4c;
			opacity: .25;
		}

		.subtext {
			padding-bottom: 60px;
		}

		h2, p {
			letter-spacing: 2px;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		}

		h2 {
			font-size: 3.5rem;
			font-weight: bold;
		}

		p {
			font-size: 1.8rem;
			color: #fff;
		}
	}
	&.casual {
		background: transparent url(../images/bg-qsection.jpg) repeat top center;
		text-align: left;
	}
	&.alternate {
		background: transparent url(../images/bg-qsection.jpg) repeat top center;
		text-align: center;
	}

	&.what-we-do {
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style: none;
			list-style-type: none;

		}
	}
	&.promo-action {

		padding: 50px 0;
		// background:  $brand-color url(../images/bg-application.jpg) no-repeat top center;
		background:  $brand-color none no-repeat top center;
		background-size: cover;

		h2, p {
			color: white;
		}

		.tel {
			text-align: center;
			padding: 8% 10%;
		}
	}
	&.comments {
		background: $brand-color url(../images/bg/bg_comments.jpg) no-repeat top center;
		background-size: cover;
	}
	&.end-form {
		background: transparent url(../images/bg-questions.jpeg) no-repeat top right;
		background-size: 100%;
		color: #fefefe;

		@media (max-width: 768px) {
			background-size: cover;
		}

		.q-form {
			padding: 6%;
			background-color: rgba(0, 0, 0, 0.2);
			letter-spacing: 2px;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

		}
	}
	&.service-order {
		background: transparent url(../images/bg-questions.jpeg) no-repeat top right;
		background-size: 100%;

		.q-form {
			padding: 6%;
			background-color: rgba(0, 0, 0, 0.2);
			letter-spacing: 2px;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

		}
	}

}

.sale-block {

	display: relative;

	li {
		list-style : none;
		list-style-image : none;
		list-style-position : outside;
	}
	
}

.order-stages {
	.arrow {
		position: absolute;
		top: 50px;
		right: -20px;
	}
	.li {
		list-style-type: none;
	}
}
.input-form, .form__textarea {
    width: 100%;
    padding: 14px;
	margin: 21px 0;
	color: gray;
}
.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
	border-radius: 7px;

	&.calc-btn {

		background:rgb(54, 54, 54) none repeat scroll 0 0;
		box-shadow: 0 6px 0 0 #1b1b1b;
	
		&:hover {
			background: rgb(80, 80, 80) none repeat scroll 0 0;
			color: #fff;
		}
	}
}

.button {
    background: #FFA715 none repeat scroll 0 0;
    box-shadow: 0 6px 0 0 #D78600;
    border: 0px solid;
    padding: 18px 28px;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
	outline: medium none;

	&:hover {
		background: rgb(255, 179, 57) none repeat scroll 0 0;
		color: #fff;
	}

	&:active {
		background: rgb(194, 87, 0);
		box-shadow: 0 3px 0 0 #D78600;
		color: #fff;
		transform: translateY(3px);
		outline: medium none;
	}
}

.emergency-call {

	background: rgb(255, 87, 21) none repeat scroll 0 0;
	box-shadow: 0 6px 0 0 rgb(161, 46, 0);

	&:hover {
		background: rgb(248, 93, 65) none repeat scroll 0 0;
		color: #fff;
	}
}

.make-call {
	padding: 11px 20px;
	border: 0px solid;
}

.left-part {
    width: 55%;
    padding: 0px;
    margin: 0;
    float: left;
}

.main-form {
    width: 325px;
    padding: 10px;
    margin: 0 auto;
	-webkit-transition: 0.5s opacity;
	transition: 0.5s opacity;
	z-index: 1;
	background-color: white;
	box-shadow: 0 0.4rem 2.8rem rgba(24, 23, 22, 0.5);
	border-radius: 15px;
	overflow: hidden;
	text-align: center;

	ul {
		margin: 15px 0;
		padding: 0;
	}
	.form-title {
		color: #262626;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		margin: 0;
		padding-bottom: 20px;
	}
}
.bt-form:active {
    margin: 23px 0 0;
    outline: medium none;
}
.bt-form:focus {
    outline: medium none;
}
.tel {
	white-space: nowrap;
    color: #181716;
    display: inline-block;
    width: 100%;
    font-size: 1.7rem;
    margin: 0 0 1.4rem;
    text-decoration: none;
	padding: 4px 0px;
}
input[type="tel"] {
    width: 85%;
    height: 40px;
    font-size: 1.3rem;
    color: #505050;
    text-indent: 20px;
    margin: 30px auto 20px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}
.wwd_block {

    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: all 0.2s ease;;
    transition: all 0.2s ease;;
	width: 100%;
	overflow: hidden;

	&:hover {
		background: rgb(252, 251, 251) none repeat scroll 0 0;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1);
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		-webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);

        .add-info {
			top: 10px;
			transition: all .5s ease;
			right: -7px;
		}
	}
	
.wwd_text_block {
	width: 60%;
	margin: 8% auto 0;
}
.wwd_icon_block {
	width: 50%;
	margin: 0 auto;
}
.wwd_icon_block, .wwd_text_block {
    display: block;
	text-align: center;
}

.add-info {
    content: '';
    position: absolute;
    top: -120px;
    right: 0px;
    width: 150px;
    height: 55px;
    background: rgba(210, 210, 210, 0.35);
    transform-origin: 50% 50%;
    transform: rotate(35deg);
    transition: all .35s ease;

	&:before {
		content: attr(data-title);
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 4px;
		margin-left: 5px;
		color: rgba(195, 18, 78, 0.75);
		font-family: $sub-font;
		font-size: 16px;
		z-index: -1px;
		top: 0;
		left: 0;
		width: 100%;
		height: 85%;
		transition: all .5s ease;
	}
}

// integrated 

	.column {
		border-radius: 2px;
		margin: $margin*5 0;
		padding:$padding*4 $padding*2;
		position:relative;
		overflow:hidden;
		position:relative;
		display:flex;
		flex-direction: row;
		justify-content:space-around;
		align-items:center;
		transition: all .5s ease;

		.img-wrap {
		height:250px;
		width:45%;
		overflow:hidden;
			img {
				border-radius:10px;
				max-width:100%;
				height:100%;
			}
		}

			.paragraph { 
			position: relative;
			height:auto;
			width:50%;
			padding:$padding;
		h1,p {
			font-weight:200;
			color:$black;
		}
			p{
				font-family:$sub-font;
				text-align: left;
			}
		}

		@media screen and(max-width: 768px) {
		flex-direction: column;
		justify-content:center;

			.img-wrap {
				height:200px;
				width:100%;
				margin-bottom:10px;
			}

			.paragraph {
				width:100%;
				height: auto;
			}
		} 
	}

	.column {
		margin-top:25px;
		border-radius:2px;
		color:$white; 
		background:transparent;

			p {
			color:$grey;
			transition: all .35s ease; 

			&:hover {
				color:rgba(lighten($witch-bg,20%),.95);
				transition: all .35s ease;
			}     
		}
	}
}

	.column {
	border-radius: 5px;
	text-align: center;
	background:$white;

	h1 {
		padding:0;
		margin:0;
		font-weight:200;
	}

	p {
		font-weight:700;
		color:$white;
	}
		@media screen and(max-width: 768px) {
			border-radius: 5px;
		}
	}
	.blue-btn {
	color: $aqur-color;
	background: $aqur-bg;
	border:2px solid transparent;
	transition: all .35s ease;

		&:hover {
			color:$black;
			background:transparent;
			border:2px solid $black;
			transition: all .35s ease;
		}
	}
	.red-btn {
	color: $fire-color;
	background: $fire-bg;
	border:2px solid transparent;
	transition: all .35s ease;

	&:hover {
		color:$black;
		background:transparent;
		border:2px solid $black;
		transition: all .35s ease;
	}
	}
	.green-btn {
	color: $grass-color;
	background: $grass-bg;
	border:2px solid transparent;
	transition: all .35s ease;
	
	&:hover {
		color:$black;
		background:transparent;
		border:2px solid $black;
		transition: all .35s ease;
	}
}	
// integrated-end


.st_bl_items {
	padding: 0;
}
.st_bl_item  {
    float: left;
	position: relative;
    width: 23%;
    padding: 1%;
	text-align: center;
	list-style: none;
}
.centered {
    text-align: center;
    margin: -75px auto 65px;
    width: 100%;
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 20%;
		}

		img {
			min-width: 100%;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;
		margin: 0 20px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

li {
	margin-bottom: 0;
	padding-left: 0;
	
	.instrument {
		background: transparent url(../images/li-instrument.png) no-repeat center;
		height: 20px;
		width: 39px;
		display: inline-block;
		background-size: contain;
	}
}
.img-pading {
	padding: 0 15px;
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url($pattern);

	&,
	p {
		color: #fefefe;
	}
}

.comment_block {
	font-size: 18px;
    font-style: italic;
    position: relative;
	background-color: gainsboro;
	box-shadow: 1px 1px 5px 0 rgba(100,100,100,.2);
	padding: 20px;
	border-radius: 2px;
}
.sign {
	font-size: 16px;
    display: flex;
    align-items: center;
    color: #75828a;
    margin: 25px 20px 0 20px;
}
.metrika {
	float: right;
}
.owl-carousel {
	.item {
		padding: 0 8%;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 0;
		text-align: left;
		line-height: 26px;

		img {
			border-radius: 5px;
			text-align: left;
			border: 1px solid #FFA715;
			margin: 0 0 10px;
		}
	}
}