.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 900px;
}

.container {
	max-width: 900px;
}

header {
	color: #fff;
	background: $brand-color;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		padding-top: 5px;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.screenshot {
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 150px 0;
	background: #fff;
	margin-top: -2px;

	&.hero {
		color: #ffffff;
		// background: $brand-color;
		// background:  $brand-color url("https://i.imgur.com/GUsRWLg.jpg") no-repeat top center;
		// background:  $brand-color url("../images/bg-application.jpg") no-repeat top center;
		background:  $brand-color url("https://www.gk-montagetischler.at/upload/imgproc/1921127_head.jpg") no-repeat top center;
		background-size: cover;
		text-align: left;
		margin-top: -100px;
		padding-top: 250px;
		
		.subtext {
			padding-bottom: 60px;
		}

		h2, p {
			letter-spacing: 2px;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		}

		h2 {
			font-size: 3.5rem;
			font-weight: bold;
		}

		p {
			font-size: 1.8rem;
			color: #fff;
		}
	}

	&.alternate {
		background: #eee;
	}

	&.promo-action {

		height: 230px;
		padding: 50px 0;
		// background:  $brand-color url("../images/bg-application.jpg") no-repeat top center;
		background:  $brand-color none no-repeat top center;
		background-size: cover;

		h2, p {
			color: white;
		}

		.tel {
			padding: 55px 15px;
		}
	}

}

.sale-block {

	display: relative;

	li {
		list-style : none;
		list-style-image : none;
		list-style-position : outside;
	}
	
}

.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 7px;
}

.outer {
	padding: 20px;
	margin: 0 30px;
}

.button {
    height: 27px;
    width: 230px;
    background: #FFA715 none repeat scroll 0 0;
    box-shadow: 0 6px 0 0 #D78600;
    border: 0px solid;
    padding: 18px 28px;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
	outline: medium none;

	&:hover {
		background: rgb(255, 179, 57) none repeat scroll 0 0;
		color: #fff;
	}

	&:active {
		background: rgb(194, 87, 0);
		box-shadow: 0 3px 0 0 #D78600;
		color: #fff;
		transform: translateY(3px);
		outline: medium none;
	}
}

.emergency-call {

	background: rgb(255, 87, 21) none repeat scroll 0 0;
	box-shadow: 0 6px 0 0 rgb(161, 46, 0);

	&:hover {
		background: rgb(248, 93, 65) none repeat scroll 0 0;
		color: #fff;
	}
}

.make-call {
	padding: 11px 20px;
	border: 0px solid;
}

.calc-btn {

	background:rgb(54, 54, 54) none repeat scroll 0 0;
	box-shadow: 0 6px 0 0 #1b1b1b;

	&:hover {
		background: rgb(80, 80, 80) none repeat scroll 0 0;
		color: #fff;
	}
}

.left-part {
    width: 60%;
    padding: 0px;
    margin: 0;
    float: left;
}

.right-part {
    padding: 10px;
    margin: 0 auto;
	-webkit-transition: 0.5s opacity;
	transition: 0.5s opacity;
	z-index: 1;
	background-color: white;
	box-shadow: 0 0.4rem 2.8rem rgba(24, 23, 22, 0.5);
	border-radius: 15px;
	overflow: hidden;
	text-align: center;

	ul {
		margin: 15px 0;
		padding: 0;
	}
}
.bt-form:active {
    margin: 23px 0 0;
    outline: medium none;
}
.bt-form:focus {
    outline: medium none;
}
.tel {
    color: #181716;
    display: inline-block;
    width: 100%;
    font-size: 1.7rem;
    margin: 0 0 1.4rem;
    text-decoration: none;
    padding: 4px 0px;
}

input[type="tel"]  {
    width: 85%;
    height: 40px;
    font-size: 1.3rem;
    color: #505050;
    text-indent: 20px;
    margin: 30px auto 20px;
}
.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.icon_text_block {
    padding: 22px;
    display: block;
    float: left;
    height: 170px;
    width: 170px;
    text-align: center;
}
.text_block {

}
.st_bl_items {
	padding: 100px 0;
}
.st_bl_item  {
    float: left;
    width: 23%;
    padding: 1%;
    text-align: center;
}
.centered  {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.righted {
	float: right;
    margin: 0 auto;
    width: 30%;
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url($pattern);

	&,
	p {
		color: #fefefe;
	}
}
