---
title: Муж на час
heading: Мастер на все руки
subtitle: Наш специалист придет к вам на помощь в считанные часы! 
hero_img: /images/hero-img/masterchas.jpg
permalink: /muzh-na-chas/
images:
  - image_path: /images/galery/montazh-karniza-min.jpg
    title: Монтаж карниза
  - image_path: /images/galery/montazh-lyustry-min.jpg
    title: Монтаж люстры
  - image_path: /images/galery/montazh-plintusov-min.jpg
    title: Монтаж плинтусов
  - image_path: /images/galery/montazh-polok-min.jpg
    title: Монтаж полок
  - image_path: /images/galery/podklyuchenie-bytovoj-tekhniki-min.jpg
    title: Подключение бытовой техники
  - image_path: /images/galery/pomoshch-v-pereezde-min.jpg
    title: Помощь в переезде
  - image_path: /images/galery/ustanovka-dushevyh-kabin-min.jpg
    title: Установка душевых кабин
  - image_path: /images/galery/ustanovka-televizora-min.jpg
    title: Установка телевизора
  - image_path: /images/galery/ustanovka-filtrov-dlya-vody-min.jpg
    title: Установка фильтров для воды
---
<section class="gallery">
    <div class="container">
        <h2 class="editable centered row" id="services">Муж на час — выручит вас!</h2>
        <ul class="image-grid cs-style-4">
            {% for image in page.images %}
            <li>
                <figure>
                    <div class="">
                        <img height="500px" width="500px" src="..{{ image.image_path }}" alt="{{ image.title}}"/>
                    </div>
                    <figcaption>
                        <span class="">
                            {{ image.title}}
                        </span>
                        <a href="#fast-call-form-popup" class="open-popup-link">
                            Вызвать
                        </a>
                    </figcaption>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="patterned">
    <div class="container halves">
        <h2 class="editable centered">Стоимость услуги "Муж на час"</h2>	
        <div>
            <table border="3" cellpadding="0" cellspacing="0" class="price-table" style="width: 100%; background:  transparent;border-color: transparent;">
                <tbody>
                    <tr>
                        <td><span>•	Работа в квартире/офисе
                                    </span></li>
                        </td>
                        <td><span>от <strong>450</strong> р/час</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>•	Минимальный заказ </span></li>
                        </td>
                        <td><span><strong>4</strong> часа</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="subtext editable">Все работы будут сделаны качественно<br />
                 и быстро
            </p>
        </div>
        <div>
            <img src="/images/muj-na-chas.jpg" alt="услуга Муж на час">
            
        </div>
    </div>
</section>

{% include promo-action.html 
	caption="Муж на час всегда доступен!"
	subtext="Все отремонтируем, соберем и починим, приколотим и прикрутим!" 
	call_action_text="По телефону" 
	button_text="Вызвать мастера" 
%}

<section class="casual">        
	<div class="container halves">
		 <h3 class="editable centered"><i class="man-icon"></i> Мастер на час</h3>	

		<div>
			<ul class="image-grid">
                <li><img src="/images/services/muzh_na_chas/santeh-rabotnik.jpg"></li>
            </ul>
        </div>
        <div>
            <p>Во все времена муж был не только защитником и кормильцем, на него также возлагались обязанности по благоустроиству своего дома. Большинство мужчин не способны справляться с ролью домашнего мастера в силу неумения, занятости, или вовсе мужчина отсутствует. К тому же Москва - является городом с максимальным разделенным трудом. Здесь актуально заниматься своей работой и делами, а ремонт по дому доверить мастеру.</p> 
        </div>
    </div>
    <div class="container">
        <h3>Удобство мужа на час </h3>	
        <ul>
            <li>Экономия времени и нервов</li>
            <li>Опытный специалист с набором профессиональных инструментов, который подойдёт именно вам</li>
            <li>Быстрое реагирование - Мужская помощь в считанные часы!</li>
        </ul>
        <p>Даже если проблема простая - под рукой может не оказаться нужного инструмента, а если и есть, женщине, особенно одинокой, не совсем просто справиться с тяжёлым молотком, либо не хватает времени. Поэтому, если дома все ломается, и нужно срочно что-то <strong>подклеить, заменить, просверлить</strong> - вспомните о нас! Наш мастер может:
        <ul>
            <li>укрепить расшатавшиеся дверные ручки;</li>
            <li>врезать новый замок, демонтируя старый;</li>
            <li>установить телефонный аппарат в доме на специальную подставку, домофон;</li>
            <li>переклеить ободранные или подклеить отошедшие обои в коридоре, кухне и т. д.;</li>
            <li>прикрепить на стену или потолок изделия (бра, люстру, панно, картину и пр.);</li>
            <li>выявить неисправность в некоторых приборах, приклеить или заменить некоторые части;</li>
            <li>сделать мелкий ремонт; подвесить карнизы над окнами, просверливая стены под дюбеля; либо укрепить <li>крепление расшатавшегося карниза;</li>
            <li>подклеить уплотнительную резину по периметру холодильника;</li>
            <li>прикрепить к стене на кухне специальные угловые кронштейны для установки микроволновой печи, приподняв над рабочей поверхностью на определенную высоту;</li>
            <li>закрепить на стене плазменный телевизор или полочку (с разметкой, сверлением отверстий, установкой дюбелей);</li>
            <li>подремонтировать протекающий кран-смеситель или заменить на новый;</li>
            <li>отремонтировать оконный откос от появившейся трещины или сделать новые после установки стеклопакетов.</li>
        </ul></p>

        <p>Этот список можно продолжать до бесконечности: если дом частный - муж на час и воды наносит и дров нарубит. А бывает, что вызвали по одной проблеме, а попутно оказывается есть ещё что устранить. Для решения всех этих и других подобных проблем как раз и существует услуга «муж на час». Напряженный ритм работ в крупных городах, постоянная нехватка времени не позволяет мужчинам уделять достаточно времени для решения домашних проблем, поэтому эта услуга есть почти во всех больших центрах.</p>
    </div>
    <div class="container halves">
        <div>
            <ul class="image-grid">
                <li><img src="/images/muj.png"> </li>
            </ul>
        </div>

        <div>
        <p>Опытный специалист нашей фирмы приедет к вам с набором профессиональных инструментов в удобное время, примет решение о стоимости услуги, озвучит ее вам и приступит к работе после вашего согласия. Также окажет помощь в приобретении необходимых материалов для ремонта.</p>

        <p>Для вызова - повоните нам или воспользуйтесь контактной формой заказа! Берегите свои нервы, не затягивайте с проблемой! Обращайтесь к нам, и все ваши бытовые проблемы будут успешно решены.  Расценки у нас ниже, чем у домовых сантихников и работников ЖКХ.</p>
        </div>

    </div>
</section>

<section class="patterned">
        <div class="container halves">
            <h2 class="editable centered">Выполненные работы</h2>	
            <div>
                <ul class="image-grid">
                    {% for client in site.clients limit: 2 %}
                        <li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <p class="editable">Мы осуществляем сборку любой сложности. <br />
                    Для выполнения работ допускаются только опытные и квалифицированные мастера. Они имеют опыт сборки мебели разных производителей, поэтому в короткий срок разберутся со схемами и соберут требуемую конструкцию.<br /></p>
                <p class="editable"><a href="{{ site.baseurl }}/portfolio/">&larr; Ещё примеры работ</a></p>
            </div>
        </div>
    </section>

<section class="end-form">
    <div class="container">
        <form class="q-form col-lg-6 col-md-6" method="POST" action="https://formspree.io/info@mair.moscow" >
            <h2 class="editable">Есть вопросы?</h2>

            <input type="hidden" name="_next" value="/success">
            <input type="hidden" name="_language" value="ru" />
            <input type="hidden" name="_format" value="plain" />
            <input type="hidden" name="_subject" value="Вопрос со страницы МУЖ НА ЧАС">
            
            <input class="input-form" type="name" name="name" placeholder="Ваше имя" required>
            <textarea class="form__textarea" name="message" placeholder="Ваше сообщение" required></textarea>
            <input type="submit" value="Отправить">
        </form>
    </div>
</section>
