---
title: Сборка мебели	
heading: Сборка мебели 
subtitle: Профессиональная сборка мебели любой сложности 
hero_img: /images/hero-img/sborka-yashika.jpeg
permalink: /sborka-mebeli/
---
<section class="casual">        
	<div class="container halves">
		<h3 class="editable centered">Услуга сборки мебели</h3>	
		<p>Самостоятельная сборка может доставить массу неприятностей. </p> 
		<p>Существует хороший вариант – обратиться к нам!</b></p> 
		<div>
			<ul class="image-grid">
				<li><img src="/images/muj.png"> </li>
				<li><img src="/images/chas.png"></li>
			</ul>
		</div>
		<div>
			<ul>
				<li>Экономия времени и нервов  помощь в считанные часы!</li>
				<li>Опытный специалист с набором профессиональных инструментов, который подойдёт именно вам</li>
				<li>Сборка любой мебели, кухонь "под ключ"</li>
			</ul>
			
		</div>
	</div>
</section>

<section class="promo-action">
	<div class="container">
		<div class="left-part col-lg-8 col-md-6 col-sm-12 col-xs-12">
			<h2 class="editable">Дорога каждая минута?</h2>
			<p class="subtext editable">Выезд сборщика в течении часа!  <br />
				Сделать заявку по телефону:
			</p>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<a href="#mainform-popup" class="open-popup-link">
				<div class="button btn calc-btn col-sm-12 col-xs-12">Вызвать мастера</div>
			</a>
			<a href="tel:+74993907668" class="tel col-sm-12 col-xs-12">
				<i class="fas fa-phone"></i>
				<span>+7 499 390 7668</span>
			</a>
		</div>
	</div>
</section>

<section class="patterned">
	<div class="container">
		<h3 class="editable centered">Посмотрите результаты наших работ</h3>	
		<div class="owl-carousel owl-theme">		
			{% for client in site.clients %}				
				<div class="item">
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="casual">
	<div class="container">
		<h3> Сборка на дому </h3>
		<p>
			Элементы вначале проектируются, потом изготавливаются фабриками. Используется современное оборудование. Сбор конструкции диктует жесткие требования (необходимая последовательность, точность). Долговечность мебели, надёжная работа механизмов, фурнитуры определяется квалификацией и навыками мастера.
		</p>
		<p>
			Мебель разнообразна, что добавляет сложности, например диваны имеют непохожие механизмы трансформации. Для специалиста нашей компании это не станет причной задержки - большой опыт, навыки, знания складывания любой конструкции помогают справится с задачей в срок. Применение специализированных современных инструментов позволяет достичь точности соединений элементов, осуществить минимальные зазоры, придать устойчивость. Сборщик «МАИР» в случае возникновения нестандартных ситуаций легко находит выход. Ведь главной заботой компании является удовлетворенность заказчика собранным предметом быта.
		</p>
		<p>Последовательность работы нашего сборщика:</p>
			<ul>
				<li> Элементы распаковываются;</li> 
				<li> Складывается каркас, перегородки;</li> 
				<li> Устанавливаются дополнительные части, крепления, полки;</li> 
				<li> Монтируется фурнитура (петли), навешиваются двери;</li> 
				<li> Выполняется регулировка петель, достигается легкое открывание, закрывание дверок;</li> 
				<li> Устанавливается стекло с фиксацией, исключая выпадение;</li> 
				<li> Выполняется перемещение на требуемое место.</li> 
					
			</ul>
		<p>
			Компания предоставляет гарантию услуг, задержек - нет (необходимые инструменты, крепеж - в наличии). Согласование стоимости сервиса с клиентом – по окончании установления объема работ.
		</p>

		<h3> Профессиональная сборка мебели в квартире в Москве </h3>
		
		<p>Преимущества сборки с нами:</p>
			<ul>
				<li> Работы выполняются высококвалифицированными специалистами;</li> 
				<li> Большой опыт складывания образцов разных производителей;</li> 
				<li> Быстрота выполнения сборочных операций;</li> 
				<li> Достижение точности, отсутствие нарушений целостности деталей, порчи внешнего вида;</li> 
				<li> Прочное фиксирование частей, достижение максимальной устойчивости.</li> 
			</ul>
		<p>
			Любые модели (стенки, встроенные, модульные конструкции), разных брендов собираются недорого, оперативно, качественно. Благодаря специальным приспособлениям, инструментам, опыту работников, выполняются качественный сервис сборки презентабельных образцов из древесины ценных сортов, декорированных дорогими материалами.
		</p>

		<h3> Почему самую сложную сборку доверяют «МАИР»? </h3>
		<p>
			Компания постоянно практикует персональные взаимодействия с клиентами, стремится улучшить качество услуг. Специалисты изучают рынок мебели, конструктивные инновации, дизайнерские ноу-хау.
		</p>
		<p>Пользуясь услугами, вы получаете выгоды:</p>
			<ul>
				<li> оперативную обработку заказа;</li> 
				<li> быстрое прибытие мастеров, наличие специнструментов;</li> 
				<li> выполнение сборки мебели отечественной и зарубежных производителей;</li> 
				<li> получение гарантии качества монтажа (аккуратность, точность);</li> 
				<li> выполнение заказа в сжатые сроки;</li> 
				<li> обеспечение четкой последовательности операций согласно чертежам, требованиям производителя;</li> 
				<li> получение консультации по эксплуатации, уходу за мебелью;</li> 
				<li> учет характерных особенностей отделки, материала изготовления конструкции;</li> 
				<li> возможность самостоятельного контроля процесса, проверки качества функционирования механизмов, фурнитуры.</li>
					 
			</ul>
		<p>
			Приобретая мебельный гарнитур, кухню, стенку, мебельную конструкцию, сделайте заказ сборки на дому в «МАИР». Доверьтесь! Цена – доступна, работа – оперативная, качество услуги – высокое.
		</p>

	</div>
</section>

<section class="patterned">
		<div class="container halves">
			<h3 class="editable centered">Цены</h3>	
			
			<div>
				<table border="3" cellpadding="0" cellspacing="0" class="rounded" style="width: 100%; background:  transparent;border-color: transparent;">
					<tbody>
						<tr>
							<td>
							<p><strong>Тип мебели</strong></p>
							</td>
							<td>
							<p><strong>Цена сборки, % </strong></br><i>(от стоимости мебели)</i></p>
							</td>
						</tr>
						<tr>
							<td>
							<p><i class="fa fa-check list-icon"></i>	Корпусная </p>
							</td>
							<td>
							<p>5-7% </p>
							</td>
						</tr>
						<tr>
							<td>
							<p><i class="fa fa-check list-icon"></i>	Кухни </p>
							</td>
							<td>
							<p>10-15% </p>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="subtext editable">На сопутствующие работы расценки можно узнать   <br />
					в прайсе доп-услуг:
				</p>
				<div class="mini-element price-btn">
					<a href="https://docviewer.yandex.ru/view/247652000/?*=%2FM%2BHLsqOSRTqoKf9Kjz0glDTE0V7InVybCI6InlhLWRpc2stcHVibGljOi8vU0lYeCtKWXVWTCttRmtyRFNvRURnT2JLSVRaQlRNMjdtd1dCM1UxVVV0Zz0iLCJ0aXRsZSI6ItCm0LXQvdGLINC90LAg0LTQvtC%2F0L7Qu9C90LjRgtC10LvRjNC90YvQtSDRg9GB0LvRg9Cz0Lgg0YHQsdC%2B0YDQutC4IDIwMTgueGxzeCIsInVpZCI6IjI0NzY1MjAwMCIsInl1IjoiMjIyNzA5Mzc4MTQzODY3Njk5NCIsIm5vaWZyYW1lIjpmYWxzZSwidHMiOjE1MTk4MTM0ODkxNzd9" target="_blank" rel="noopener"><span>Доп-услуги</span> <i class="fa fa-file-excel-o"></i>
					</a>
				</div>
			</div>

			<div>
				<img src="http://domateka.ru/wp-content/uploads/2018/02/sborka-i-remont-mebeli.jpg">
				<!-- http://domateka.ru/wp-content/uploads/2018/02/ms2.jpg	-->
			</div>
		</div>
	</section>

<section class="end-form">
	<div class="container">
		<form class="q-form col-lg-6 col-md-6 col-sm-12 col-xs-12" method="POST" action="https://formspree.io/info@mair.moscow">
			<h2 class="editable">Заявка на сборку</h2>

			<input type="hidden" name="_next" value="/success">
			<input type="hidden" name="_language" value="ru" />
			<input type="hidden" name="_format" value="plain" />
			<input type="hidden" name="_subject" value="Вопрос со страницы СБОРКА МЕБЕЛИ">
			
			<input class="input-form" type="name" name="name" placeholder="Ваше имя" required>
			<input class="input-form" type="phone" name="phone" placeholder="Ваш телефон" required>
			<textarea class="form__textarea" name="message" placeholder="Ваше сообщение" required></textarea>
			<input type="submit" value="Отправить">
		</form>
	</div>
</section>
