---
title: Строительство и ремонт	
heading: Строительство и ремонт
subtitle: Профессиональная сборка мебели любой сложности 
hero_img: /images/hero-img/stroitelstvo.jpg
permalink: /stroitelstvo-remont/
---

<section class="casual-white">
	<div class="container halves">
		<h2 class="centered">Строительство коттеджей, ремонт</h2>
		<div>	
				<p>
				На сегодняшний день собственный дом – это не просто жилплощадь. Для современных людей это стиль жизни, собственная территория, которая является определенной степенью свободы и независимости хозяина. Большинство жителей мегаполисов стараются строить жилье подальше от загрязненных городов и быть ближе к природе. В связи с этим архитекторы предоставляют необычные решения, которые помогут каждому реализовать свою мечту. 
			</p>
				<p>
			Для тех, кто ценит свое время, кому важно качество работы, кто заинтересован в результате за максимально короткие сроки — мы предлагаем свои услуги строительства и ремонта.</p>
		</div>
		
		<div>
			<img src="../images/services/stroitelstvo/o-stroitelstve-kottedzhej.jpg">
		</div>
	</div>
</section>

<section class="casual" id="zamer">        
	<div class="container">
		<h3 class="centered"><i class="stroitel-icon"></i> Все этапы строительства</h3>
	</div>
	<div class="container halves">

		<div>
			<ul class="image-grid">
				<li><img src="/images/services/stroitelstvo/cott-1.jpg"> </li>
			</ul>
			<blockquote>
				Лучше всего начинать строительство дома весной. В этот период можно провести оценку почвы, определить уровень грунтовых вод – в распоряжении будет приемлемая погода, пора, когда ночью температура не опускается ниже 0
			</blockquote>
		</div>
		<div>
			<ul>
				<p>
					Компания МАИР является членом СРО НП "Объединение Строителей Монолит".
					Наша компания работает уже 20 лет на рынке строительных услуг и готова выполнить сложные комплексные работы всех этапов:
					<ul>
						<li>Заливка фундамента</li>
						<li>Транспортировка, доставка строительных материалов</li>
						<li>Строительство стен, перекрытий</li>
						<li>Монтаж крыши</li>
					</ul> 
					Сроки выполнения <b> 1-5 месяцев</b>, как и <b>стоимость</b> зависит от сложности работ. Подробности по телефону:
					<a href="tel:+749523104608" class="tel">
						<span><span class="font-fix"> +</span>7 495 231 0460 </span>
					</a>
				</p>
				<!-- <p>
					Из-за лишних и непродуманных действий можно пожертвовать внешним видом мебели.
					При планировке так же обращаем внимание на инженерные коммуникации, варианты расположения, предусматриваем открытие дверей шкафов и т.д.
				</p> -->
			</ul>
		</div>
	</div>
</section>
<section class="casual-white">
	<div class="container">
		<h3 class="centered"><i class="stroitel-icon"></i> Какие дома мы строим </h3>
	</div>
	<div class="container halves">
		<div>
		<ul>
			<p>
				<!-- Все элементы мебели вначале проектируются, потом изготовленные на фабрике части раскладываются оптимально для транспортировки.--> Имея за плечами опыт неоднократных сборок, наши мастера понимают <b>в каком порядке</b> распаковать детали, что бы этот этап подготовки прошёл без затрат времени. 
			</p>
			<p>
				На изучение инструкции так же не много затрат. Обычно в ней всё стандартно — наш работник быстро разберётся какие детали для чего используются и в каком порядке.
			</p>
		</ul>
		</div>
		<div>
			<ul class="image-grid">
				<li><img src="/images/services/stroitelstvo/cott-2.jpg"> </li>
				<blockquote>
					Некоторые клиенты <b>сами распаковывают и раскладывают</b> элементы мебели перед приездом сборщика, чем увеличивают время сборки. Позвольте нашему специалисту выполнить свою работу полностью!
				</blockquote>
			</ul>
		</div>
	</div>
</section>
		
{% include promo-action.html 
	caption="Дорога каждая минута?"
	subtext="Выезд сборщика в течении часа!" 
	call_action_text="Сделать заявку по телефону:" 
	button_text="Обратный звонок!" 
%}
<section class="casual">
	<div class="container">
		<h3 class="centered"><i class="stroitel-icon"></i> Сроки и цена </h3>
	</div>
	<div class="container halves">
		<div>
			<ul class="image-grid">
				<li><img src="/images/services/sborka_mebeli/pic4.jpg"> </li>
			</ul>
		</div>
		<div>
			<p>
				С использованием <b>современного оборудования и инструментов</b> сбор конструкции превращается в лёгкую задачу. 
				И это при том, что требования бывают довольно жесткие (необходимая последовательность, точность).
			</p>
			<p>
				Конечно, мебель сегодня достаточно разнообразна, что бы удивить любого своими механизмами трансформации и дизайнерской выдумкой.
			</p>
			<p> 
				Для специалиста компании «МАИР» это не станет причной задержки - большой опыт, навыки, знания конструкций предметов быта от отечественных и зарубежных производителей помогают справится с задачей в срок.
			</p>
		</div>
	</div>
	<div class="container halves">
		<div>
			<ul class="image-grid">
				<li><img src="/images/services/sborka_mebeli/sborka_2.jpg"> </li>
			</ul>
		</div>
		<div>
			<p>Последовательность сборки можно перечислить:</p>
			<ul>
				<li> Элементы распаковываются;</li> 
				<li> Складывается каркас, перегородки;</li> 
				<li> Устанавливаются дополнительные части, крепления, полки;</li> 
				<li> Монтируется фурнитура (петли), навешиваются двери;</li> 
				<li> Выполняется регулировка петель, достигается легкое открывание, закрывание дверок;</li> 
				<li> Устанавливается стекло с фиксацией, исключая выпадение;</li> 
				<li> Перемещаем на требуемое место.</li> 
				<li> Готово!</li> 
				
				Долговечность мебели, надёжная работа всех механизмов, вплоть до самой мелкой фурнитуры и декор-элементов определяется квалификацией и навыками мастера. 
			</ul>
		</div>
	</div>
</section>

<section class="patterned">
	<div class="container halves">
		<h2 class="editable centered">Выполненные работы <i class="biceps-icon"></i></h2>	
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 2 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<p class="editable">Мы осуществляем сборку любой сложности. <br />
				Для выполнения работ допускаются только опытные и квалифицированные мастера. Они имеют опыт целого спектра различных работ и сборки мебели разных производителей.<br /></p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">&larr; Ещё примеры работ</a></p>
		</div>
	</div>
</section>

<section class="end-form">
	<div class="container">
		<form class="q-form col-lg-6 col-md-6 col-sm-12 col-xs-12" method="POST" action="https://formspree.io/info@mair.moscow">
			<h2 class="editable">Заявка на сборку</h2>

			<input type="hidden" name="_next" value="/success">
			<input type="hidden" name="_language" value="ru" />
			<input type="hidden" name="_format" value="plain" />
			<input type="hidden" name="_subject" value="Вопрос со страницы СТРОИТВО и РЕМОНТ">
			
			<input class="input-form" type="name" name="name" placeholder="Ваше имя" required>
			<input class="input-form" type="phone" name="phone" placeholder="Ваш телефон" required>
			<textarea class="form__textarea" name="message" placeholder="Ваше сообщение" required></textarea>
			<input type="submit" value="Отправить">
		</form>
	</div>
</section>
