---
title: Строительство и ремонт	
heading: 🏠 Строительство и ремонт
subtitle: Принимаем заказы на строительство коттеджей и ремонт помещений
hero_img: /images/hero-img/stroitelstvo.jpg
permalink: /stroitelstvo-remont/
images:
  - image_path: /images/galery/montazh-karniza-min.jpg
    title: Монтаж карниза
  - image_path: /images/galery/montazh-lyustry-min.jpg
    title: Монтаж люстры
  - image_path: /images/galery/montazh-plintusov-min.jpg
    title: Монтаж плинтусов
  - image_path: /images/galery/montazh-polok-min.jpg
    title: Монтаж полок
  - image_path: /images/galery/podklyuchenie-bytovoj-tekhniki-min.jpg
    title: Подключение бытовой техники
  - image_path: /images/galery/pomoshch-v-pereezde-min.jpg
    title: Помощь в переезде
  - image_path: /images/galery/ustanovka-dushevyh-kabin-min.jpg
    title: Установка душевых кабин
  - image_path: /images/galery/ustanovka-televizora-min.jpg
    title: Установка телевизора
  - image_path: /images/galery/ustanovka-filtrov-dlya-vody-min.jpg
    title: Установка фильтров для воды
---

<section class="casual-white">
	<div class="container halves">
		<h2 class="centered">Строительство коттеджей, ремонт</h2>
		<div>
			<p>
			Для тех, кто ценит свое время, кому важно качество работы, кто заинтересован в результате за максимально короткие сроки — мы предлагаем свои услуги <b>строительства и ремонта</b>.</p>
		</div>
	</div>
</section>
<section class="patterned gallery">
	<div class="container">
		<h2 class="editable centered">Все этапы строительства <i class="biceps-icon"></i></h2>	
		<div>
			
			<ul class="image-grid cs-style-4">
            {% for image in page.images %}
            <li>
                <figure>
                    <div class="">
                        <img height="500px" width="500px" src="..{{ image.image_path }}" alt="{{ image.title}}"/>
                    </div>
                    <figcaption>
                        <span class="">
                            {{ image.title}}
                        </span>
                        <a href="#fast-call-form-popup" class="open-popup-link">
                            Вызвать
                        </a>
                    </figcaption>
                </figure>
            </li>
			{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="casual-white">
	<div class="container">
		<h3 class="centered"><i class="stroitel-icon"></i> Какие дома мы строим </h3>
	</div>
	<div class="container halves">
		<div>
		<ul>
			<p>
				Основные технологии строительства коттеджей это: из <b>дерева (брус), пенобетона, камня.</b>
				Деревянные дома – мы строим из клееного бруса и бревна, в том числе по каркасной технологии.
			</p>
			<p>
				<b>Клеёный брус</b> – ламинированная древесина, представляет собой тип конструкционного изделия, состоящий из нескольких слоев размерного пиломатериала, скрепленных вместе прочным, влагостойким структурными клеем. 
			</p>
			<p>
				<b>Пеноблок</b> – обладает высокой прочностью и термоустойчивостью. Стены из пеноблока при больших температурных перепадах не расширяются, не трескаются. Ещё преимущество пеноблока – низкая теплопроводность.
			</p>
			<p>
				<b>Кирпич</b> –  остается самым популярным стройматериалом, хотя он недешев. Строить из кирпича – традиция уже не одного века.
			</p>
		
		</ul>
		</div>
		<div>
			<ul class="image-grid">
				<div>
					<img src="../images/services/stroitelstvo/o-stroitelstve-kottedzhej.jpg">
				</div>
				<blockquote>
					<b>Каменные коттеджи</b> — кирпичные дома, коттеджи из газосиликатных блоков, из крупноформатных керамических поризованных блоков иначе называемых “теплая керамика”, полностью монолитные дома, а также  каркасно-монолитные, стены которых выложены из тех же газоблоков, пеноблоков или кирпичей (кирпично-монолитные).
				</blockquote>
			</ul>
		</div>
	</div>
</section>

<section class="casual-white">
	<div class="container">
		<div>
			<ul class="image-grid">
				<li><img src="/images/services/stroitelstvo/cott-1.jpg"> </li>
				<blockquote>
					Лучше всего начинать строительство дома весной. В этот период можно провести оценку почвы, определить уровень грунтовых вод – в распоряжении будет приемлемая погода, пора, когда ночью температура не опускается ниже 0
				</blockquote>
			</ul>
		</div>
		<div>
		<ul>
			На сегодняшний день собственный дом – это не просто жилплощадь. Для современных людей это стиль жизни, собственная территория, которая является определенной степенью свободы и независимости хозяина. Большинство жителей мегаполисов стараются строить жилье подальше от загрязненных городов и быть ближе к природе. В связи с этим архитекторы предоставляют необычные решения, которые помогут каждому реализовать свою мечту. 
		</ul>
		</div>
	</div>
</section>
		
{% include promo-action.html 
	caption="Нет времени на чтение?"
	subtext="Позвоните нам – мы с удовольствием" 
	call_action_text="ответим на все ваши вопросы:" 
	button_text="Обратный звонок" 
%}
<section class="casual">
	<div class="container">
		<h3 class="centered"><i class="stroitel-icon"></i> Ремонт квартир и офисов </h3>
	</div>
	<div class="container halves">
		<div>
			<ul class="image-grid">
				<li><img src="/images/services/sborka_mebeli/pic4.jpg"> </li>
			</ul>
		</div>
		<div>
			<p>
				Для многих ремонт в квартире ассоциируется со стихийным бедствием, так как по своему опыту или чужим рассказам знакомы с тем, насколько это сложный и трудоёмкий процесс. С нами же этот процесс не доставит никаких проблем, ремонт будет исполнен качественно и в срок. Ведь мы компания, производящая строительство коттеджей и домов, что имеет много общего с капитальным ремонтом квартир и перепланировкой помещений. Ремонт квартир в Москве и по МО — это одно из важнейших направлений деятельности компании «МАИР». 
			</p>
			<p>
				Являетесь ли вы владельцем роскошных апартаментов в центре столицы, или же у вас пока лишь скромная однокомнатная квартира на окраине, можете не сомневаться в своём выборе. Мы выполним заказ любой сложности: от легкого косметического ремонта офиса — до капитального ремонта квартиры с перепланировкой.
			</p>
			<p> 
				Иногда может возникнуть ситуация, в которой изменения в проекте связаны с дополнительными затратами - например, вы решили использовать более дорогие материалы, или сделать ремонт более высокого класса, но на это в данный момент не хватает средств. Можете не беспокоиться, изменения в проекте можно согласовать и осуществить на любом этапе - с пересмотром сметы и соответственно сроков выполнения работ. Мы предоставляем вам возможность сделать именно такой ремонт, какой вы хотите.
			</p>
		</div>
	</div>
	<div class="container halves">
		<div>
			<ul class="image-grid">
				<li><img src="/images/services/sborka_mebeli/sborka_2.jpg"> </li>
			</ul>
		</div>
		<div>
			<p>Что касается стоимости работ, то важно отметить, что мы имеем стабильные связи с надежными поставщиками качественных строительных материалов. Это позволяет сэкономить на стадии закупки стройматериалов без ущерба для качества ремонта квартир, офисов и коттеджей.
			</p>
			<p>
			Наше предложение для тех, кто ценит свое время, кому важно качество работы, кто заинтересован в результате за максимально короткие сроки.
			</p>
		</div>
	</div>
</section>


<section class="end-form">
	<div class="container">
		<form class="q-form col-lg-6 col-md-6 col-sm-12 col-xs-12" method="POST" action="https://formspree.io/info@mair.moscow">
			<h2 class="editable">Заявка</h2>

			<input type="hidden" name="_next" value="/success">
			<input type="hidden" name="_language" value="ru" />
			<input type="hidden" name="_format" value="plain" />
			<input type="hidden" name="_subject" value="Вопрос со страницы СТРОИТВО и РЕМОНТ">
			
			<input class="input-form" type="name" name="name" placeholder="Ваше имя" required>
			<input class="input-form" type="phone" name="phone" placeholder="Ваш телефон" required>
			<textarea class="form__textarea" name="message" placeholder="Ваше сообщение" required></textarea>
			<input type="submit" value="Отправить">
		</form>
	</div>
</section>
