---
layout: alt-page
title: Блог
heading: Полезные статьи
subtitle: На заметку
hero_img: /images/hero-img/bed.jpg
---

<section class="">
	<div class="text-container">
		<h2 class="centered">{{ page.heading }}</h2>
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>
	</div>
</section>

{% if paginator.total_pages > 1 %}
	<section class=" alternate">
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Новые посты</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} из {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Ранее &rarr;</a>
			{% endif %}
		</div>
	</section>
{% endif %}
