---
title: Наши работы
layout: alt-page
hero_img: /images/hero-img/our_work.jpg
permalink: /portfolio/
---

<section class="what-we-do">
	<div class="container">
		<h2 class="centered">Наши работы</h2>			
		<div>
			<p class="editable">Некоторые конкуренты говорят что они "лучшие", <br>
				 а мы просто хорошо делаем свою работу.</p>
		</div>
		<ul class="image-grid">
			{% for client in site.clients %}
				<li>
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>


<section class="promo-action">
	<div class="container">
		<div class="left-part col-md-6 col-sm-6 col-xs-12">
			<h2 class="editable">Оформите заявку на обратный звонок</h2>
			<p class="subtext editable">Или свяжитесь с нами по телефону:
			</p>
		</div>
		<div class=" col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
			<a href="#mainform-popup" class="open-popup-link">
				<div class="button btn calc-btn col-sm-12 col-xs-12">Вызвать мастера</div>
			</a>
			<a href="tel:+74993907668" class="tel col-sm-12 col-xs-12">
					<i class="fas fa-phone"></i>
					<span><p>+</p>7 499 390 7668</span>
			</a>
		</div>
	</div>
</section>