---
layout: default
---
{% assign portfolio = site.pages | where: "path", "portfolio.html" | first %}

<section class="hero " style="background-image: url({% include relative-src.html src=page.hero_img %})">
	<div class="container sale-block">
		{% if page.heading %}
			<h1>{{ page.heading }}</h1>
		{% elsif page.title %}
			<h1>{{ page.title }}</h1>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section class="client">
	<div class="container"> 
		<!-- 
		<h2>{{ page.name }}</a> </h2>
		<p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p> -->
		<div>
			{{ content }}
		</div>
		<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,viber,whatsapp,telegram" data-limit="3"></div>
	</div>
</section>

{% include promo-action.html 
	caption="Нужна оперативная мужская помощь?"
	subtext="Наш мастер приедет в течении 60 минут!" 
	call_action_text="Звоните по телефону:" 
	button_text="Перезвоните мне!" 
%}