---
layout: default
---
<section class="hero"  style="background-image: url({% include relative-src.html src=page.hero_img %})">
	<div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
		<div class="col-md-6">
		{% if page.heading %}
			<h2>{{ page.heading }}</h2>
		{% elsif page.title %}
			<h2>{{ page.title }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
		</div>
		<!-- <div class="price-form col-md-5 col-md-push-1">
			{% include form-main-page.html %}
		</div> -->
	</div>
</section>

{{ content }}
